<a href="https://colab.research.google.com/github/Sitthirat/data_viz_2022/blob/main/100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os 
import numpy as np
import pandas as pd
from matplotlib.pyplot import figure
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
from google.colab import drive    
drive.mount('/content/drive')
path = '/content/drive/My Drive/project 2023'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#data

In [ ]:
data_file_path = os.path.join(path,'data.csv')
data= pd.read_csv(data_file_path)

In [ ]:
data

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,21,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,22,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,20,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,32,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,25,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2,70,5.30,43.1,150,19.2,17.3,11.7,27.1,69.6,...,15,9.0,87,4.9,108,8,0.9,302,4.1,61
110,2,71,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
111,2,76,4.79,53.8,150,23.9,18.6,19.6,36.4,78.9,...,22,11.0,86,6.2,99,13,1.0,373,4.4,102
112,1,74,4.54,61.1,170,21.1,28.8,9.5,15.5,77.9,...,12,17.0,83,7.1,131,17,1.1,290,6.2,89
113,1,68,4.28,71.2,189,19.9,36.5,6.0,8.4,72.9,...,15,9.0,94,4.2,120,13,0.9,610,5.6,355

In [ ]:
data.drop(['AgeSYear'], axis=1, inplace=True) 
data

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2,5.30,43.1,150,19.2,17.3,11.7,27.1,69.6,0.83,...,15,9.0,87,4.9,108,8,0.9,302,4.1,61
110,2,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,0.75,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
111,2,4.79,53.8,150,23.9,18.6,19.6,36.4,78.9,0.90,...,22,11.0,86,6.2,99,13,1.0,373,4.4,102
112,1,4.54,61.1,170,21.1,28.8,9.5,15.5,77.9,0.88,...,12,17.0,83,7.1,131,17,1.1,290,6.2,89
113,1,4.28,71.2,189,19.9,36.5,6.0,8.4,72.9,0.77,...,15,9.0,94,4.2,120,13,0.9,610,5.6,355

In [ ]:
a1=pd.DataFrame.sample(data,n=100,replace=True)
A1=pd.concat([data, a1])
A1

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,1,9.96,49.4,169,17.3,25.5,3.9,7.9,69.9,0.66,...,32,23.0,86,4.4,109,13,1.0,440,6.1,230
38,2,8.36,55.8,160,21.8,21.9,16.1,28.9,74.8,0.81,...,21,28.0,73,5.4,114,10,0.7,362,4.0,138
25,2,9.12,59.1,160,23.1,22.9,17.5,29.6,76.5,0.80,...,14,85.0,76,3.3,77,19,0.8,367,5.1,109
89,2,6.59,47.6,160,18.6,20.3,10.9,22.9,68.7,0.75,...,15,9.0,80,6.1,126,11,0.8,325,3.9,126
25,2,9.12,59.1,160,23.1,22.9,17.5,29.6,76.5,0.80,...,14,85.0,76,3.3,77,19,0.8,367,5.1,109

In [ ]:
a2=pd.DataFrame.sample(data,n=100,replace=True)
A2=pd.concat([data, a2])
A2

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,2,9.04,51.1,158,20.5,20.4,14.1,27.6,72.5,0.78,...,12,9.0,75,3.9,87,12,0.5,306,5.4,50
27,2,9.04,51.1,158,20.5,20.4,14.1,27.6,72.5,0.78,...,12,9.0,75,3.9,87,12,0.5,306,5.4,50
39,2,8.29,56.3,161,21.7,19.6,14.1,28.6,72.5,0.84,...,15,11.0,86,5.4,139,11,0.6,337,5.2,53
47,2,8.09,50.0,152,21.6,19.9,13.9,27.8,72.2,0.81,...,18,14.0,85,6.3,83,11,1.0,575,4.8,103
88,1,6.63,68.2,168,24.2,30.2,13.9,20.4,84.1,0.91,...,33,28.0,99,5.2,76,16,1.1,294,6.9,240

In [ ]:
a3=pd.DataFrame.sample(data,n=100,replace=True)
A3=pd.concat([data, a3])
A3

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,1,9.96,49.4,169,17.3,25.5,3.9,7.9,69.9,0.66,...,32,23.0,86,4.4,109,13,1.0,440,6.1,230
50,2,7.91,45.3,155,18.9,19.0,11.0,24.3,68.8,0.76,...,15,12.0,85,6.0,90,11,0.8,307,3.1,105
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66
56,1,7.81,62.8,167,22.5,27.9,12.7,20.2,82.4,0.91,...,28,16.0,81,5.6,110,15,1.2,434,6.9,89
24,2,9.17,49.3,150,21.9,17.7,20.6,39.1,80.2,0.91,...,18,13.0,84,6.1,69,12,0.6,315,4.1,60

In [ ]:
a4=pd.DataFrame.sample(data,n=100,replace=True)
A4=pd.concat([data, a4])
A4

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,2,9.05,42.4,158,17.0,18.3,9.4,22.2,66.9,0.74,...,18,16.0,87,8.5,126,16,0.8,427,4.3,82
92,2,6.45,55.2,163,20.8,22.0,15.2,40.0,73.8,0.81,...,10,15.0,77,5.7,89,12,0.7,263,5.1,55
22,2,9.22,46.3,154,19.5,20.5,9.4,20.3,66.9,0.71,...,40,78.0,78,5.0,35,13,0.9,509,6.3,199
86,2,6.66,51.7,160,20.2,20.3,14.9,28.8,73.4,0.84,...,15,16.0,107,6.5,81,12,0.7,332,3.5,84
100,1,6.11,59.1,160,23.1,26.8,10.9,18.4,79.9,0.91,...,28,24.0,79,7.1,120,11,1.1,210,5.1,80

In [ ]:
a5=pd.DataFrame.sample(data,n=100,replace=True)
A5=pd.concat([data, a5])
A5

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,2,7.70,59.2,157,24.0,22.3,18.6,31.4,77.8,0.82,...,18,10.0,78,2.7,163,10,0.7,392,3.3,71
12,2,9.86,48.6,158,19.5,19.2,13.8,28.4,72.1,0.80,...,17,22.0,70,6.7,80,11,1.0,592,5.9,193
41,2,8.21,52.9,148,24.2,19.1,18.1,34.2,77.2,0.85,...,14,12.0,82,6.0,123,9,0.8,341,4.8,80
73,2,7.36,54.3,158,21.8,19.7,16.4,31.7,75.3,0.84,...,12,11.0,90,8.2,69,19,0.7,394,4.3,89
110,2,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,0.75,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94

In [ ]:
a6=pd.DataFrame.sample(data,n=100,replace=True)
A6=pd.concat([data, a6])
A6

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,1,8.36,59.7,170,20.7,27.6,10.3,17.3,79.0,0.80,...,22,24.0,89,7.8,93,16,1.2,412,5.6,168
39,2,8.29,56.3,161,21.7,19.6,14.1,28.6,72.5,0.84,...,15,11.0,86,5.4,139,11,0.6,337,5.2,53
26,2,9.05,42.4,158,17.0,18.3,9.4,22.2,66.9,0.74,...,18,16.0,87,8.5,126,16,0.8,427,4.3,82
84,1,6.75,75.5,179,23.6,32.2,17.4,23.0,89.1,0.92,...,29,12.0,81,6.8,62,13,1.3,438,7.5,250
102,2,5.91,50.4,145,24.0,18.1,17.2,34.1,76.1,0.86,...,24,40.0,97,2.5,93,14,0.7,326,3.6,65

In [ ]:
a7=pd.DataFrame.sample(data,n=100,replace=True)
A7=pd.concat([data, a7])
A7

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,2,6.89,51.5,155,21.4,19.3,16.4,31.8,75.2,0.84,...,24,27.0,85,4.6,56,15,0.8,313,5.6,80
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41
73,2,7.36,54.3,158,21.8,19.7,16.4,31.7,75.3,0.84,...,12,11.0,90,8.2,69,19,0.7,394,4.3,89
13,2,9.73,59.3,158,23.8,22.2,18.9,31.9,78.1,0.82,...,34,14.0,82,5.6,79,10,0.8,252,4.2,59
12,2,9.86,48.6,158,19.5,19.2,13.8,28.4,72.1,0.80,...,17,22.0,70,6.7,80,11,1.0,592,5.9,193

In [ ]:
a8=pd.DataFrame.sample(data,n=100,replace=True)
A8=pd.concat([data, a8])
A8

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
72,2,7.42,47.4,156,19.5,20.2,11.0,23.2,68.8,0.75,...,20,12.0,74,2.5,78,15,0.9,298,4.2,41
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
82,2,6.89,51.5,155,21.4,19.3,16.4,31.8,75.2,0.84,...,24,27.0,85,4.6,56,15,0.8,313,5.6,80

In [ ]:
a9=pd.DataFrame.sample(data,n=100,replace=True)
A9=pd.concat([data, a9])
A9

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,2,6.96,54.9,155,22.9,21.7,15.4,28.1,74.0,0.82,...,19,16.0,100,8.2,56,14,0.8,560,4.1,112
35,2,8.53,64.5,166,23.4,24.7,19.5,30.5,78.8,0.79,...,16,10.0,81,4.5,73,10,0.8,323,3.2,47
72,2,7.42,47.4,156,19.5,20.2,11.0,23.2,68.8,0.75,...,20,12.0,74,2.5,78,15,0.9,298,4.2,41
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100

In [ ]:
a10=pd.DataFrame.sample(data,n=100,replace=True)
A10=pd.concat([data, a10])
A10

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2,7.58,51.2,153,21.9,19.0,16.6,32.4,75.4,0.84,...,29,23.0,90,4.1,65,9,0.8,276,4.1,52
112,1,4.54,61.1,170,21.1,28.8,9.5,15.5,77.9,0.88,...,12,17.0,83,7.1,131,17,1.1,290,6.2,89
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
105,2,5.58,43.5,153,18.6,17.8,11.2,25.7,69.1,0.80,...,18,20.0,90,8.4,78,16,0.9,325,4.1,91
53,1,7.86,61.9,165,22.7,27.7,12.0,19.4,81.4,0.89,...,26,32.0,87,6.4,79,15,1.3,329,6.3,169

In [ ]:
a11=pd.DataFrame.sample(data,n=100,replace=True)
A11=pd.concat([data, a11])
A11

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,1,6.38,60.9,167,21.8,27.6,15.4,23.9,86.4,0.91,...,38,48.0,85,6.3,127,16,0.9,661,5.8,178
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41
71,2,7.43,53.8,156,22.1,21.1,15.5,28.8,74.1,0.81,...,16,10.0,80,7.9,183,13,1.0,510,4.2,117
11,1,9.94,44.8,163,16.9,21.1,6.9,15.4,64.0,0.67,...,13,7.0,88,6.5,121,12,1.0,269,5.1,63
24,2,9.17,49.3,150,21.9,17.7,20.6,39.1,80.2,0.91,...,18,13.0,84,6.1,69,12,0.6,315,4.1,60

In [ ]:
a12=pd.DataFrame.sample(data,n=100,replace=True)
A12=pd.concat([data, a12])
A12

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2,7.57,44.4,148,20.3,18.0,11.8,26.6,69.8,0.78,...,12,3.0,83,5.2,68,11,0.9,673,5.0,66
103,2,5.80,43.4,152,18.8,18.0,10.8,24.9,68.6,0.78,...,22,13.0,92,7.7,127,17,0.7,439,5.2,70
9,2,10.05,45.4,155,18.9,19.3,10.5,23.1,68.2,0.72,...,24,10.0,78,3.5,70,10,0.7,252,4.9,40
79,2,6.99,55.2,150,24.5,19.9,18.8,34.1,78.0,0.85,...,16,15.0,83,7.2,99,16,0.9,358,4.9,43
76,2,7.08,58.2,155,24.2,20.8,20.1,34.5,79.5,0.86,...,15,18.0,88,4.9,84,13,0.7,547,4.5,148

In [ ]:
a13=pd.DataFrame.sample(data,n=100,replace=True)
A13=pd.concat([data, a13])
A13

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,2,9.73,59.3,158,23.8,22.2,18.9,31.9,78.1,0.82,...,34,14.0,82,5.6,79,10,0.8,252,4.2,59
53,1,7.86,61.9,165,22.7,27.7,12.0,19.4,81.4,0.89,...,26,32.0,87,6.4,79,15,1.3,329,6.3,169
104,2,5.68,57.3,163,21.6,20.4,19.9,34.7,79.3,0.86,...,15,19.0,101,8.0,153,18,0.8,422,3.8,95
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100
22,2,9.22,46.3,154,19.5,20.5,9.4,20.3,66.9,0.71,...,40,78.0,78,5.0,35,13,0.9,509,6.3,199

In [ ]:
a14=pd.DataFrame.sample(data,n=100,replace=True)
A14=pd.concat([data, a14])
A14

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,2,9.05,42.4,158,17.0,18.3,9.4,22.2,66.9,0.74,...,18,16.0,87,8.5,126,16,0.8,427,4.3,82
67,2,7.58,51.2,153,21.9,19.0,16.6,32.4,75.4,0.84,...,29,23.0,90,4.1,65,9,0.8,276,4.1,52
81,2,6.94,56.4,163,21.2,22.9,14.9,26.4,73.4,0.79,...,12,13.0,82,4.9,162,14,0.9,259,4.9,72
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41

In [ ]:
a15=pd.DataFrame.sample(data,n=100,replace=True)
A15=pd.concat([data, a15])
A15

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2,7.73,55.3,159,21.9,19.3,23.3,39.9,83.3,0.92,...,27,46.0,94,8.2,96,11,1.0,544,5.9,127
35,2,8.53,64.5,166,23.4,24.7,19.5,30.5,78.8,0.79,...,16,10.0,81,4.5,73,10,0.8,323,3.2,47
74,2,7.28,45.0,155,18.7,20.0,9.0,20.0,66.5,0.72,...,22,41.0,83,5.6,93,8,0.5,370,2.0,67
66,2,7.61,50.5,160,19.7,21.0,12.5,24.8,70.6,0.75,...,15,11.0,91,3.9,67,11,0.8,461,4.9,118
38,2,8.36,55.8,160,21.8,21.9,16.1,28.9,74.8,0.81,...,21,28.0,73,5.4,114,10,0.7,362,4.0,138

In [ ]:
a16=pd.DataFrame.sample(data,n=100,replace=True)
A16=pd.concat([data, a16])
A16

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2,8.57,59.0,155,24.6,21.8,19.3,32.7,78.6,0.85,...,24,17.0,93,8.6,47,14,0.9,258,5.2,75
48,2,8.06,47.3,158,18.9,20.2,10.8,22.8,68.6,0.74,...,18,12.0,76,5.7,49,7,0.6,404,3.0,114
55,2,7.83,47.4,156,19.5,20.9,9.7,20.5,67.3,0.73,...,15,17.0,89,5.9,148,12,0.7,316,3.0,69
12,2,9.86,48.6,158,19.5,19.2,13.8,28.4,72.1,0.80,...,17,22.0,70,6.7,80,11,1.0,592,5.9,193
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52

In [ ]:
a17=pd.DataFrame.sample(data,n=100,replace=True)
A17=pd.concat([data, a17])
A17

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,2,7.90,49.5,158,19.8,21.7,10.3,20.8,68.0,0.73,...,27,16.0,83,5.4,77,8,0.8,344,4.3,77
31,2,8.76,44.3,156,18.2,19.5,9.2,20.8,66.7,0.72,...,48,13.0,81,6.1,128,12,0.9,591,6.3,81
41,2,8.21,52.9,148,24.2,19.1,18.1,34.2,77.2,0.85,...,14,12.0,82,6.0,123,9,0.8,341,4.8,80
20,2,9.37,40.8,147,18.9,16.9,10.2,25.0,67.9,0.75,...,12,8.0,80,5.8,138,9,0.7,362,3.6,80
43,2,8.15,53.9,156,22.1,20.7,16.3,30.2,75.1,0.81,...,17,70.0,82,7.1,55,11,1.1,446,6.9,74

In [ ]:
a18=pd.DataFrame.sample(data,n=100,replace=True)
A18=pd.concat([data, a18])
A18

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2,9.69,46.4,150,20.6,18.8,12.4,26.7,70.5,0.79,...,15,7.0,83,5.1,90,12,0.8,487,4.7,73
31,2,8.76,44.3,156,18.2,19.5,9.2,20.8,66.7,0.72,...,48,13.0,81,6.1,128,12,0.9,591,6.3,81
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66
59,2,7.73,55.3,159,21.9,19.3,23.3,39.9,83.3,0.92,...,27,46.0,94,8.2,96,11,1.0,544,5.9,127
42,2,8.18,62.5,160,24.4,23.0,20.6,33.0,80.1,0.82,...,27,23.0,86,5.5,79,9,0.7,269,4.1,59

In [ ]:
a19=pd.DataFrame.sample(data,n=100,replace=True)
A19=pd.concat([data, a19])
A19

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,2,8.13,56.3,156,23.1,22.0,16.4,39.9,75.2,0.81,...,19,27.0,75,5.6,126,13,0.9,288,5.8,55
64,2,7.69,54.2,157,22.0,20.5,25.1,40.3,85.5,0.93,...,19,33.0,87,4.2,74,11,0.9,380,5.7,86
72,2,7.42,47.4,156,19.5,20.2,11.0,23.2,68.8,0.75,...,20,12.0,74,2.5,78,15,0.9,298,4.2,41
104,2,5.68,57.3,163,21.6,20.4,19.9,34.7,79.3,0.86,...,15,19.0,101,8.0,153,18,0.8,422,3.8,95
15,2,9.71,57.1,158,22.9,22.8,15.8,27.7,74.5,0.81,...,18,15.0,86,5.5,134,16,0.7,381,3.9,97

In [ ]:
a20=pd.DataFrame.sample(data,n=100,replace=True)
A20=pd.concat([data, a20])
A20

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,2,7.08,58.2,155,24.2,20.8,20.1,34.5,79.5,0.86,...,15,18.0,88,4.9,84,13,0.7,547,4.5,148
72,2,7.42,47.4,156,19.5,20.2,11.0,23.2,68.8,0.75,...,20,12.0,74,2.5,78,15,0.9,298,4.2,41
14,2,9.71,53.2,157,21.6,21.3,14.6,27.4,73.8,0.77,...,13,11.0,79,5.4,72,12,0.8,402,5.2,78
100,1,6.11,59.1,160,23.1,26.8,10.9,18.4,79.9,0.91,...,28,24.0,79,7.1,120,11,1.1,210,5.1,80
77,1,7.03,61.7,162,23.5,26.0,14.8,24.0,85.4,0.94,...,19,41.0,89,4.1,123,11,0.7,648,4.8,128

In [ ]:
a21=pd.DataFrame.sample(data,n=100,replace=True)
A21=pd.concat([data, a21])
A21

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,1,7.01,92.6,182,28.0,45.0,15.3,16.1,86.2,0.86,...,45,84.0,78,3.4,68,16,1.0,391,7.8,117
102,2,5.91,50.4,145,24.0,18.1,17.2,34.1,76.1,0.86,...,24,40.0,97,2.5,93,14,0.7,326,3.6,65
100,1,6.11,59.1,160,23.1,26.8,10.9,18.4,79.9,0.91,...,28,24.0,79,7.1,120,11,1.1,210,5.1,80
20,2,9.37,40.8,147,18.9,16.9,10.2,25.0,67.9,0.75,...,12,8.0,80,5.8,138,9,0.7,362,3.6,80
87,2,6.64,48.6,154,20.5,19.7,12.9,26.5,71.1,0.80,...,16,14.0,85,6.5,106,18,0.7,527,3.8,125

In [ ]:
a22=pd.DataFrame.sample(data,n=100,replace=True)
A22=pd.concat([data, a22])
A22

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,2,8.54,45.6,160,17.8,19.3,10.8,23.7,68.6,0.74,...,32,2.6,97,5.3,37,12,0.6,292,4.3,58
32,2,8.57,59.0,155,24.6,21.8,19.3,32.7,78.6,0.85,...,24,17.0,93,8.6,47,14,0.9,258,5.2,75
29,2,8.79,52.1,160,20.4,20.9,14.2,27.3,72.6,0.78,...,11,22.0,82,3.8,116,9,0.9,322,4.9,93
51,2,7.90,49.5,158,19.8,21.7,10.3,20.8,68.0,0.73,...,27,16.0,83,5.4,77,8,0.8,344,4.3,77
29,2,8.79,52.1,160,20.4,20.9,14.2,27.3,72.6,0.78,...,11,22.0,82,3.8,116,9,0.9,322,4.9,93

In [ ]:
a23=pd.DataFrame.sample(data,n=100,replace=True)
A23=pd.concat([data, a23])
A23

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2,5.91,50.4,145,24.0,18.1,17.2,34.1,76.1,0.86,...,24,40.0,97,2.5,93,14,0.7,326,3.6,65
32,2,8.57,59.0,155,24.6,21.8,19.3,32.7,78.6,0.85,...,24,17.0,93,8.6,47,14,0.9,258,5.2,75
37,1,8.36,59.7,170,20.7,27.6,10.3,17.3,79.0,0.80,...,22,24.0,89,7.8,93,16,1.2,412,5.6,168
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
73,2,7.36,54.3,158,21.8,19.7,16.4,31.7,75.3,0.84,...,12,11.0,90,8.2,69,19,0.7,394,4.3,89

In [ ]:
a24=pd.DataFrame.sample(data,n=100,replace=True)
A24=pd.concat([data, a24])
A24

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2,7.73,55.3,159,21.9,19.3,23.3,39.9,83.3,0.92,...,27,46.0,94,8.2,96,11,1.0,544,5.9,127
99,2,6.17,51.4,150,22.8,18.5,17.6,34.2,76.6,0.85,...,22,16.0,86,6.3,78,16,1.0,314,5.7,112
22,2,9.22,46.3,154,19.5,20.5,9.4,20.3,66.9,0.71,...,40,78.0,78,5.0,35,13,0.9,509,6.3,199
103,2,5.80,43.4,152,18.8,18.0,10.8,24.9,68.6,0.78,...,22,13.0,92,7.7,127,17,0.7,439,5.2,70
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41

In [ ]:
a25=pd.DataFrame.sample(data,n=100,replace=True)
A25=pd.concat([data, a25])
A25

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2,5.58,43.5,153,18.6,17.8,11.2,25.7,69.1,0.80,...,18,20.0,90,8.4,78,16,0.9,325,4.1,91
66,2,7.61,50.5,160,19.7,21.0,12.5,24.8,70.6,0.75,...,15,11.0,91,3.9,67,11,0.8,461,4.9,118
13,2,9.73,59.3,158,23.8,22.2,18.9,31.9,78.1,0.82,...,34,14.0,82,5.6,79,10,0.8,252,4.2,59
28,2,8.87,48.7,165,17.9,21.1,10.7,22.0,68.5,0.71,...,11,11.0,80,5.1,89,8,0.9,124,4.4,56
39,2,8.29,56.3,161,21.7,19.6,14.1,28.6,72.5,0.84,...,15,11.0,86,5.4,139,11,0.6,337,5.2,53

In [ ]:
a26=pd.DataFrame.sample(data,n=100,replace=True)
A26=pd.concat([data, a26])
A26

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,1,6.52,72.3,170,25.0,29.2,19.0,26.4,91.4,0.93,...,15,12.0,78,5.2,39,14,0.9,329,6.9,81
108,1,5.31,77.7,165,28.5,29.7,23.7,30.5,98.1,1.02,...,59,48.0,106,6.3,95,13,1.3,426,6.0,158
32,2,8.57,59.0,155,24.6,21.8,19.3,32.7,78.6,0.85,...,24,17.0,93,8.6,47,14,0.9,258,5.2,75
42,2,8.18,62.5,160,24.4,23.0,20.6,33.0,80.1,0.82,...,27,23.0,86,5.5,79,9,0.7,269,4.1,59
12,2,9.86,48.6,158,19.5,19.2,13.8,28.4,72.1,0.80,...,17,22.0,70,6.7,80,11,1.0,592,5.9,193

In [ ]:
a27=pd.DataFrame.sample(data,n=100,replace=True)
A27=pd.concat([data, a27])
A27

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2,8.36,55.8,160,21.8,21.9,16.1,28.9,74.8,0.81,...,21,28.0,73,5.4,114,10,0.7,362,4.0,138
53,1,7.86,61.9,165,22.7,27.7,12.0,19.4,81.4,0.89,...,26,32.0,87,6.4,79,15,1.3,329,6.3,169
44,2,8.13,56.3,156,23.1,22.0,16.4,39.9,75.2,0.81,...,19,27.0,75,5.6,126,13,0.9,288,5.8,55
42,2,8.18,62.5,160,24.4,23.0,20.6,33.0,80.1,0.82,...,27,23.0,86,5.5,79,9,0.7,269,4.1,59
104,2,5.68,57.3,163,21.6,20.4,19.9,34.7,79.3,0.86,...,15,19.0,101,8.0,153,18,0.8,422,3.8,95

In [ ]:
a28=pd.DataFrame.sample(data,n=100,replace=True)
A28=pd.concat([data, a28])
A28

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1,7.81,62.8,167,22.5,27.9,12.7,20.2,82.4,0.91,...,28,16.0,81,5.6,110,15,1.2,434,6.9,89
35,2,8.53,64.5,166,23.4,24.7,19.5,30.5,78.8,0.79,...,16,10.0,81,4.5,73,10,0.8,323,3.2,47
15,2,9.71,57.1,158,22.9,22.8,15.8,27.7,74.5,0.81,...,18,15.0,86,5.5,134,16,0.7,381,3.9,97
111,2,4.79,53.8,150,23.9,18.6,19.6,36.4,78.9,0.90,...,22,11.0,86,6.2,99,13,1.0,373,4.4,102
43,2,8.15,53.9,156,22.1,20.7,16.3,30.2,75.1,0.81,...,17,70.0,82,7.1,55,11,1.1,446,6.9,74

In [ ]:
a29=pd.DataFrame.sample(data,n=100,replace=True)
A29=pd.concat([data, a29])
A29

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,2,7.84,48.0,160,18.8,20.7,10.7,22.3,68.5,0.74,...,18,12.0,74,5.7,176,11,0.7,417,3.3,88
93,1,6.38,60.9,167,21.8,27.6,15.4,23.9,86.4,0.91,...,38,48.0,85,6.3,127,16,0.9,661,5.8,178
7,2,10.13,58.6,162,22.3,23.8,15.6,43.0,74.2,0.78,...,15,13.0,92,6.5,69,13,0.9,374,4.3,152
51,2,7.90,49.5,158,19.8,21.7,10.3,20.8,68.0,0.73,...,27,16.0,83,5.4,77,8,0.8,344,4.3,77
94,2,6.36,47.4,153,20.2,19.3,12.5,26.4,70.6,0.80,...,16,8.0,81,5.1,98,15,1.0,263,5.0,94

In [ ]:
a30=pd.DataFrame.sample(data,n=100,replace=True)
A30=pd.concat([data, a30])
A30

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2,5.91,50.4,145,24.0,18.1,17.2,34.1,76.1,0.86,...,24,40.0,97,2.5,93,14,0.7,326,3.6,65
36,2,8.48,50.9,157,20.6,20.6,13.6,26.7,71.9,0.79,...,24,21.0,84,6.1,83,14,0.8,505,4.0,144
106,1,5.40,63.7,171,21.8,28.0,13.3,20.9,83.3,0.92,...,22,27.0,90,4.1,111,8,1.1,482,7.7,273
40,2,8.28,50.0,158,20.0,20.2,13.3,26.6,71.5,0.79,...,9,9.0,81,6.1,119,15,0.9,518,4.6,143
43,2,8.15,53.9,156,22.1,20.7,16.3,30.2,75.1,0.81,...,17,70.0,82,7.1,55,11,1.1,446,6.9,74

In [ ]:
a31=pd.DataFrame.sample(data,n=100,replace=True)
A31=pd.concat([data, a31])
A31

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,2,7.90,49.5,158,19.8,21.7,10.3,20.8,68.0,0.73,...,27,16.0,83,5.4,77,8,0.8,344,4.3,77
88,1,6.63,68.2,168,24.2,30.2,13.9,20.4,84.1,0.91,...,33,28.0,99,5.2,76,16,1.1,294,6.9,240
22,2,9.22,46.3,154,19.5,20.5,9.4,20.3,66.9,0.71,...,40,78.0,78,5.0,35,13,0.9,509,6.3,199
24,2,9.17,49.3,150,21.9,17.7,20.6,39.1,80.2,0.91,...,18,13.0,84,6.1,69,12,0.6,315,4.1,60
73,2,7.36,54.3,158,21.8,19.7,16.4,31.7,75.3,0.84,...,12,11.0,90,8.2,69,19,0.7,394,4.3,89

In [ ]:
a32=pd.DataFrame.sample(data,n=100,replace=True)
A32=pd.concat([data, a32])
A32

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,2,5.68,57.3,163,21.6,20.4,19.9,34.7,79.3,0.86,...,15,19.0,101,8.0,153,18,0.8,422,3.8,95
95,2,6.33,46.4,152,20.1,18.4,13.1,28.2,71.3,0.83,...,15,8.0,89,4.2,90,12,0.5,494,4.5,77
110,2,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,0.75,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
34,2,8.54,53.2,167,19.1,22.4,13.2,24.8,71.4,0.74,...,22,16.0,92,6.5,73,11,0.5,362,2.9,43
13,2,9.73,59.3,158,23.8,22.2,18.9,31.9,78.1,0.82,...,34,14.0,82,5.6,79,10,0.8,252,4.2,59

In [ ]:
a33=pd.DataFrame.sample(data,n=100,replace=True)
A33=pd.concat([data, a33])
A33

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
53,1,7.86,61.9,165,22.7,27.7,12.0,19.4,81.4,0.89,...,26,32.0,87,6.4,79,15,1.3,329,6.3,169
39,2,8.29,56.3,161,21.7,19.6,14.1,28.6,72.5,0.84,...,15,11.0,86,5.4,139,11,0.6,337,5.2,53
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
97,2,6.19,67.3,165,24.7,24.2,23.1,34.3,83.1,0.87,...,20,34.0,83,7.0,95,13,0.8,305,4.7,30

In [ ]:
a34=pd.DataFrame.sample(data,n=100,replace=True)
A34=pd.concat([data, a34])
A34

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,2,7.90,49.5,158,19.8,21.7,10.3,20.8,68.0,0.73,...,27,16.0,83,5.4,77,8,0.8,344,4.3,77
48,2,8.06,47.3,158,18.9,20.2,10.8,22.8,68.6,0.74,...,18,12.0,76,5.7,49,7,0.6,404,3.0,114
103,2,5.80,43.4,152,18.8,18.0,10.8,24.9,68.6,0.78,...,22,13.0,92,7.7,127,17,0.7,439,5.2,70
17,1,9.55,50.3,160,19.6,24.5,6.4,12.7,73.4,0.74,...,24,72.0,77,4.7,80,12,1.0,870,4.7,133
25,2,9.12,59.1,160,23.1,22.9,17.5,29.6,76.5,0.80,...,14,85.0,76,3.3,77,19,0.8,367,5.1,109

In [ ]:
a35=pd.DataFrame.sample(data,n=100,replace=True)
A35=pd.concat([data, a35])
A35

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2,8.18,62.5,160,24.4,23.0,20.6,33.0,80.1,0.82,...,27,23.0,86,5.5,79,9,0.7,269,4.1,59
69,2,7.55,46.4,158,18.6,19.8,10.6,22.8,68.3,0.73,...,12,10.0,76,6.7,152,8,0.8,296,4.9,70
10,1,9.96,49.4,169,17.3,25.5,3.9,7.9,69.9,0.66,...,32,23.0,86,4.4,109,13,1.0,440,6.1,230
44,2,8.13,56.3,156,23.1,22.0,16.4,39.9,75.2,0.81,...,19,27.0,75,5.6,126,13,0.9,288,5.8,55
68,2,7.57,44.4,148,20.3,18.0,11.8,26.6,69.8,0.78,...,12,3.0,83,5.2,68,11,0.9,673,5.0,66

In [ ]:
a36=pd.DataFrame.sample(data,n=100,replace=True)
A36=pd.concat([data, a36])
A36

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,2,9.04,51.1,158,20.5,20.4,14.1,27.6,72.5,0.78,...,12,9.0,75,3.9,87,12,0.5,306,5.4,50
100,1,6.11,59.1,160,23.1,26.8,10.9,18.4,79.9,0.91,...,28,24.0,79,7.1,120,11,1.1,210,5.1,80
46,2,8.11,49.9,157,20.2,20.5,12.7,25.5,70.8,0.77,...,18,28.0,83,5.6,89,9,0.8,284,4.1,94
63,1,7.70,56.9,170,19.7,27.1,8.4,14.8,76.3,0.78,...,18,17.0,85,5.3,84,10,1.1,259,6.8,158
37,1,8.36,59.7,170,20.7,27.6,10.3,17.3,79.0,0.80,...,22,24.0,89,7.8,93,16,1.2,412,5.6,168

In [ ]:
a37=pd.DataFrame.sample(data,n=100,replace=True)
A37=pd.concat([data, a37])
A37

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2,6.45,55.2,163,20.8,22.0,15.2,40.0,73.8,0.81,...,10,15.0,77,5.7,89,12,0.7,263,5.1,55
28,2,8.87,48.7,165,17.9,21.1,10.7,22.0,68.5,0.71,...,11,11.0,80,5.1,89,8,0.9,124,4.4,56
106,1,5.40,63.7,171,21.8,28.0,13.3,20.9,83.3,0.92,...,22,27.0,90,4.1,111,8,1.1,482,7.7,273
57,2,7.80,53.9,156,22.1,22.3,24.8,38.0,85.1,0.91,...,21,12.0,83,5.1,187,13,0.6,337,4.4,81
42,2,8.18,62.5,160,24.4,23.0,20.6,33.0,80.1,0.82,...,27,23.0,86,5.5,79,9,0.7,269,4.1,59

In [ ]:
a38=pd.DataFrame.sample(data,n=100,replace=True)
A38=pd.concat([data, a38])
A38

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,2,7.83,47.4,156,19.5,20.9,9.7,20.5,67.3,0.73,...,15,17.0,89,5.9,148,12,0.7,316,3.0,69
11,1,9.94,44.8,163,16.9,21.1,6.9,15.4,64.0,0.67,...,13,7.0,88,6.5,121,12,1.0,269,5.1,63
10,1,9.96,49.4,169,17.3,25.5,3.9,7.9,69.9,0.66,...,32,23.0,86,4.4,109,13,1.0,440,6.1,230
92,2,6.45,55.2,163,20.8,22.0,15.2,40.0,73.8,0.81,...,10,15.0,77,5.7,89,12,0.7,263,5.1,55
15,2,9.71,57.1,158,22.9,22.8,15.8,27.7,74.5,0.81,...,18,15.0,86,5.5,134,16,0.7,381,3.9,97

In [ ]:
a39=pd.DataFrame.sample(data,n=100,replace=True)
A39=pd.concat([data, a39])
A39

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,2,7.91,45.3,155,18.9,19.0,11.0,24.3,68.8,0.76,...,15,12.0,85,6.0,90,11,0.8,307,3.1,105
18,2,9.48,55.5,165,20.4,22.9,14.1,25.4,72.5,0.77,...,11,16.0,81,4.8,155,9,0.8,263,4.7,31
80,2,6.96,54.9,155,22.9,21.7,15.4,28.1,74.0,0.82,...,19,16.0,100,8.2,56,14,0.8,560,4.1,112
5,2,10.27,46.8,158,18.7,20.5,9.9,21.2,67.5,0.72,...,13,8.0,80,3.3,76,11,0.8,698,4.1,130
15,2,9.71,57.1,158,22.9,22.8,15.8,27.7,74.5,0.81,...,18,15.0,86,5.5,134,16,0.7,381,3.9,97

In [ ]:
a40=pd.DataFrame.sample(data,n=100,replace=True)
A40=pd.concat([data, a40])
A40

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,1,7.86,61.9,165,22.7,27.7,12.0,19.4,81.4,0.89,...,26,32.0,87,6.4,79,15,1.3,329,6.3,169
7,2,10.13,58.6,162,22.3,23.8,15.6,43.0,74.2,0.78,...,15,13.0,92,6.5,69,13,0.9,374,4.3,152
41,2,8.21,52.9,148,24.2,19.1,18.1,34.2,77.2,0.85,...,14,12.0,82,6.0,123,9,0.8,341,4.8,80
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
76,2,7.08,58.2,155,24.2,20.8,20.1,34.5,79.5,0.86,...,15,18.0,88,4.9,84,13,0.7,547,4.5,148

In [ ]:
a41=pd.DataFrame.sample(data,n=100,replace=True)
A41=pd.concat([data, a41])
A41

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,1,5.32,62.9,160,24.6,26.8,14.5,23.1,85.0,0.94,...,27,25.0,85,6.2,172,17,1.2,468,7.0,125
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
26,2,9.05,42.4,158,17.0,18.3,9.4,22.2,66.9,0.74,...,18,16.0,87,8.5,126,16,0.8,427,4.3,82
53,1,7.86,61.9,165,22.7,27.7,12.0,19.4,81.4,0.89,...,26,32.0,87,6.4,79,15,1.3,329,6.3,169
9,2,10.05,45.4,155,18.9,19.3,10.5,23.1,68.2,0.72,...,24,10.0,78,3.5,70,10,0.7,252,4.9,40

In [ ]:
a42=pd.DataFrame.sample(data,n=100,replace=True)
A42=pd.concat([data, a42])
A42

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,2,8.11,49.9,157,20.2,20.5,12.7,25.5,70.8,0.77,...,18,28.0,83,5.6,89,9,0.8,284,4.1,94
24,2,9.17,49.3,150,21.9,17.7,20.6,39.1,80.2,0.91,...,18,13.0,84,6.1,69,12,0.6,315,4.1,60
49,2,7.94,46.2,150,20.5,19.0,11.9,25.8,69.9,0.79,...,26,9.0,90,4.1,73,15,0.7,556,3.3,131
71,2,7.43,53.8,156,22.1,21.1,15.5,28.8,74.1,0.81,...,16,10.0,80,7.9,183,13,1.0,510,4.2,117
38,2,8.36,55.8,160,21.8,21.9,16.1,28.9,74.8,0.81,...,21,28.0,73,5.4,114,10,0.7,362,4.0,138

In [ ]:
a43=pd.DataFrame.sample(data,n=100,replace=True)
A43=pd.concat([data, a43])
A43

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1,7.70,56.9,170,19.7,27.1,8.4,14.8,76.3,0.78,...,18,17.0,85,5.3,84,10,1.1,259,6.8,158
6,1,10.21,74.9,179,23.4,34.8,12.6,16.8,82.3,0.80,...,29,35.0,74,5.9,98,19,1.4,324,5.8,151
51,2,7.90,49.5,158,19.8,21.7,10.3,20.8,68.0,0.73,...,27,16.0,83,5.4,77,8,0.8,344,4.3,77
77,1,7.03,61.7,162,23.5,26.0,14.8,24.0,85.4,0.94,...,19,41.0,89,4.1,123,11,0.7,648,4.8,128
28,2,8.87,48.7,165,17.9,21.1,10.7,22.0,68.5,0.71,...,11,11.0,80,5.1,89,8,0.9,124,4.4,56

In [ ]:
a44=pd.DataFrame.sample(data,n=100,replace=True)
A44=pd.concat([data, a44])
A44

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,2,8.79,52.1,160,20.4,20.9,14.2,27.3,72.6,0.78,...,11,22.0,82,3.8,116,9,0.9,322,4.9,93
103,2,5.80,43.4,152,18.8,18.0,10.8,24.9,68.6,0.78,...,22,13.0,92,7.7,127,17,0.7,439,5.2,70
60,1,7.73,77.9,185,22.8,33.9,16.9,21.7,88.4,0.89,...,22,28.0,93,4.2,87,15,1.0,286,6.2,104
30,2,8.77,56.8,157,23.0,22.3,16.4,28.9,75.2,0.81,...,18,17.0,86,5.6,133,11,0.9,385,4.4,215
73,2,7.36,54.3,158,21.8,19.7,16.4,31.7,75.3,0.84,...,12,11.0,90,8.2,69,19,0.7,394,4.3,89

In [ ]:
a45=pd.DataFrame.sample(data,n=100,replace=True)
A45=pd.concat([data, a45])
A45

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2,9.71,57.1,158,22.9,22.8,15.8,27.7,74.5,0.81,...,18,15.0,86,5.5,134,16,0.7,381,3.9,97
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
47,2,8.09,50.0,152,21.6,19.9,13.9,27.8,72.2,0.81,...,18,14.0,85,6.3,83,11,1.0,575,4.8,103
22,2,9.22,46.3,154,19.5,20.5,9.4,20.3,66.9,0.71,...,40,78.0,78,5.0,35,13,0.9,509,6.3,199
108,1,5.31,77.7,165,28.5,29.7,23.7,30.5,98.1,1.02,...,59,48.0,106,6.3,95,13,1.3,426,6.0,158

In [ ]:
a46=pd.DataFrame.sample(data,n=100,replace=True)
A46=pd.concat([data, a46])
A46

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,2,6.19,67.3,165,24.7,24.2,23.1,34.3,83.1,0.87,...,20,34.0,83,7.0,95,13,0.8,305,4.7,30
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100
62,2,7.70,59.2,157,24.0,22.3,18.6,31.4,77.8,0.82,...,18,10.0,78,2.7,163,10,0.7,392,3.3,71
105,2,5.58,43.5,153,18.6,17.8,11.2,25.7,69.1,0.80,...,18,20.0,90,8.4,78,16,0.9,325,4.1,91
67,2,7.58,51.2,153,21.9,19.0,16.6,32.4,75.4,0.84,...,29,23.0,90,4.1,65,9,0.8,276,4.1,52

In [ ]:
a47=pd.DataFrame.sample(data,n=100,replace=True)
A47=pd.concat([data, a47])
A47

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,1,4.28,71.2,189,19.9,36.5,6.0,8.4,72.9,0.77,...,15,9.0,94,4.2,120,13,0.9,610,5.6,355
32,2,8.57,59.0,155,24.6,21.8,19.3,32.7,78.6,0.85,...,24,17.0,93,8.6,47,14,0.9,258,5.2,75
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
60,1,7.73,77.9,185,22.8,33.9,16.9,21.7,88.4,0.89,...,22,28.0,93,4.2,87,15,1.0,286,6.2,104
10,1,9.96,49.4,169,17.3,25.5,3.9,7.9,69.9,0.66,...,32,23.0,86,4.4,109,13,1.0,440,6.1,230

In [ ]:
a48=pd.DataFrame.sample(data,n=100,replace=True)
A48=pd.concat([data, a48])
A48

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2,7.69,54.2,157,22.0,20.5,25.1,40.3,85.5,0.93,...,19,33.0,87,4.2,74,11,0.9,380,5.7,86
31,2,8.76,44.3,156,18.2,19.5,9.2,20.8,66.7,0.72,...,48,13.0,81,6.1,128,12,0.9,591,6.3,81
108,1,5.31,77.7,165,28.5,29.7,23.7,30.5,98.1,1.02,...,59,48.0,106,6.3,95,13,1.3,426,6.0,158
71,2,7.43,53.8,156,22.1,21.1,15.5,28.8,74.1,0.81,...,16,10.0,80,7.9,183,13,1.0,510,4.2,117
16,2,9.69,46.4,150,20.6,18.8,12.4,26.7,70.5,0.79,...,15,7.0,83,5.1,90,12,0.8,487,4.7,73

In [ ]:
a49=pd.DataFrame.sample(data,n=100,replace=True)
A49=pd.concat([data, a49])
A49

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1,6.86,64.6,165,23.7,27.6,14.8,22.9,85.4,0.93,...,19,33.0,87,7.4,74,16,0.9,319,7.2,69
36,2,8.48,50.9,157,20.6,20.6,13.6,26.7,71.9,0.79,...,24,21.0,84,6.1,83,14,0.8,505,4.0,144
6,1,10.21,74.9,179,23.4,34.8,12.6,16.8,82.3,0.80,...,29,35.0,74,5.9,98,19,1.4,324,5.8,151
27,2,9.04,51.1,158,20.5,20.4,14.1,27.6,72.5,0.78,...,12,9.0,75,3.9,87,12,0.5,306,5.4,50
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100

In [ ]:
a50=pd.DataFrame.sample(data,n=100,replace=True)
A50=pd.concat([data, a50])
A50

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,1,5.32,62.9,160,24.6,26.8,14.5,23.1,85.0,0.94,...,27,25.0,85,6.2,172,17,1.2,468,7.0,125
24,2,9.17,49.3,150,21.9,17.7,20.6,39.1,80.2,0.91,...,18,13.0,84,6.1,69,12,0.6,315,4.1,60
96,1,6.23,62.5,170,21.6,27.9,12.4,19.8,82.0,0.89,...,15,21.0,99,5.2,104,12,1.2,299,5.7,46
94,2,6.36,47.4,153,20.2,19.3,12.5,26.4,70.6,0.80,...,16,8.0,81,5.1,98,15,1.0,263,5.0,94
72,2,7.42,47.4,156,19.5,20.2,11.0,23.2,68.8,0.75,...,20,12.0,74,2.5,78,15,0.9,298,4.2,41

In [ ]:
a51=pd.DataFrame.sample(data,n=100,replace=True)
A51=pd.concat([data, a51])
A51

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2,6.94,56.4,163,21.2,22.9,14.9,26.4,73.4,0.79,...,12,13.0,82,4.9,162,14,0.9,259,4.9,72
27,2,9.04,51.1,158,20.5,20.4,14.1,27.6,72.5,0.78,...,12,9.0,75,3.9,87,12,0.5,306,5.4,50
40,2,8.28,50.0,158,20.0,20.2,13.3,26.6,71.5,0.79,...,9,9.0,81,6.1,119,15,0.9,518,4.6,143
27,2,9.04,51.1,158,20.5,20.4,14.1,27.6,72.5,0.78,...,12,9.0,75,3.9,87,12,0.5,306,5.4,50
31,2,8.76,44.3,156,18.2,19.5,9.2,20.8,66.7,0.72,...,48,13.0,81,6.1,128,12,0.9,591,6.3,81

In [ ]:
a52=pd.DataFrame.sample(data,n=100,replace=True)
A52=pd.concat([data, a52])
A52

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,1,7.03,61.7,162,23.5,26.0,14.8,24.0,85.4,0.94,...,19,41.0,89,4.1,123,11,0.7,648,4.8,128
87,2,6.64,48.6,154,20.5,19.7,12.9,26.5,71.1,0.80,...,16,14.0,85,6.5,106,18,0.7,527,3.8,125
30,2,8.77,56.8,157,23.0,22.3,16.4,28.9,75.2,0.81,...,18,17.0,86,5.6,133,11,0.9,385,4.4,215
101,2,6.06,61.8,159,24.4,23.4,19.2,31.1,78.5,0.84,...,15,15.0,83,5.4,69,12,0.8,386,5.1,68
25,2,9.12,59.1,160,23.1,22.9,17.5,29.6,76.5,0.80,...,14,85.0,76,3.3,77,19,0.8,367,5.1,109

In [ ]:
a53=pd.DataFrame.sample(data,n=100,replace=True)
A53=pd.concat([data, a53])
A53

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,2,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,0.75,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
51,2,7.90,49.5,158,19.8,21.7,10.3,20.8,68.0,0.73,...,27,16.0,83,5.4,77,8,0.8,344,4.3,77
107,1,5.32,62.9,160,24.6,26.8,14.5,23.1,85.0,0.94,...,27,25.0,85,6.2,172,17,1.2,468,7.0,125
30,2,8.77,56.8,157,23.0,22.3,16.4,28.9,75.2,0.81,...,18,17.0,86,5.6,133,11,0.9,385,4.4,215
47,2,8.09,50.0,152,21.6,19.9,13.9,27.8,72.2,0.81,...,18,14.0,85,6.3,83,11,1.0,575,4.8,103

In [ ]:
a54=pd.DataFrame.sample(data,n=100,replace=True)
A54=pd.concat([data, a54])
A54

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,2,7.91,45.3,155,18.9,19.0,11.0,24.3,68.8,0.76,...,15,12.0,85,6.0,90,11,0.8,307,3.1,105
104,2,5.68,57.3,163,21.6,20.4,19.9,34.7,79.3,0.86,...,15,19.0,101,8.0,153,18,0.8,422,3.8,95
57,2,7.80,53.9,156,22.1,22.3,24.8,38.0,85.1,0.91,...,21,12.0,83,5.1,187,13,0.6,337,4.4,81
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
46,2,8.11,49.9,157,20.2,20.5,12.7,25.5,70.8,0.77,...,18,28.0,83,5.6,89,9,0.8,284,4.1,94

In [ ]:
a55=pd.DataFrame.sample(data,n=100,replace=True)
A55=pd.concat([data, a55])
A55

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,2,7.83,47.4,156,19.5,20.9,9.7,20.5,67.3,0.73,...,15,17.0,89,5.9,148,12,0.7,316,3.0,69
54,2,7.84,48.0,160,18.8,20.7,10.7,22.3,68.5,0.74,...,18,12.0,74,5.7,176,11,0.7,417,3.3,88
73,2,7.36,54.3,158,21.8,19.7,16.4,31.7,75.3,0.84,...,12,11.0,90,8.2,69,19,0.7,394,4.3,89
84,1,6.75,75.5,179,23.6,32.2,17.4,23.0,89.1,0.92,...,29,12.0,81,6.8,62,13,1.3,438,7.5,250
32,2,8.57,59.0,155,24.6,21.8,19.3,32.7,78.6,0.85,...,24,17.0,93,8.6,47,14,0.9,258,5.2,75

In [ ]:
a56=pd.DataFrame.sample(data,n=100,replace=True)
A56=pd.concat([data, a56])
A56

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,1,5.32,62.9,160,24.6,26.8,14.5,23.1,85.0,0.94,...,27,25.0,85,6.2,172,17,1.2,468,7.0,125
80,2,6.96,54.9,155,22.9,21.7,15.4,28.1,74.0,0.82,...,19,16.0,100,8.2,56,14,0.8,560,4.1,112
100,1,6.11,59.1,160,23.1,26.8,10.9,18.4,79.9,0.91,...,28,24.0,79,7.1,120,11,1.1,210,5.1,80
34,2,8.54,53.2,167,19.1,22.4,13.2,24.8,71.4,0.74,...,22,16.0,92,6.5,73,11,0.5,362,2.9,43
58,2,7.79,59.4,167,21.3,23.6,16.6,27.9,75.4,0.81,...,22,6.0,81,5.5,143,10,0.6,468,3.3,78

In [ ]:
a57=pd.DataFrame.sample(data,n=100,replace=True)
A57=pd.concat([data, a57])
A57

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41
10,1,9.96,49.4,169,17.3,25.5,3.9,7.9,69.9,0.66,...,32,23.0,86,4.4,109,13,1.0,440,6.1,230
41,2,8.21,52.9,148,24.2,19.1,18.1,34.2,77.2,0.85,...,14,12.0,82,6.0,123,9,0.8,341,4.8,80
87,2,6.64,48.6,154,20.5,19.7,12.9,26.5,71.1,0.80,...,16,14.0,85,6.5,106,18,0.7,527,3.8,125
33,2,8.54,45.6,160,17.8,19.3,10.8,23.7,68.6,0.74,...,32,2.6,97,5.3,37,12,0.6,292,4.3,58

In [ ]:
a58=pd.DataFrame.sample(data,n=100,replace=True)
A58=pd.concat([data, a58])
A58

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2,7.43,53.8,156,22.1,21.1,15.5,28.8,74.1,0.81,...,16,10.0,80,7.9,183,13,1.0,510,4.2,117
64,2,7.69,54.2,157,22.0,20.5,25.1,40.3,85.5,0.93,...,19,33.0,87,4.2,74,11,0.9,380,5.7,86
29,2,8.79,52.1,160,20.4,20.9,14.2,27.3,72.6,0.78,...,11,22.0,82,3.8,116,9,0.9,322,4.9,93
84,1,6.75,75.5,179,23.6,32.2,17.4,23.0,89.1,0.92,...,29,12.0,81,6.8,62,13,1.3,438,7.5,250
103,2,5.80,43.4,152,18.8,18.0,10.8,24.9,68.6,0.78,...,22,13.0,92,7.7,127,17,0.7,439,5.2,70

In [ ]:
a59=pd.DataFrame.sample(data,n=100,replace=True)
A59=pd.concat([data, a59])
A59

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,1,5.31,77.7,165,28.5,29.7,23.7,30.5,98.1,1.02,...,59,48.0,106,6.3,95,13,1.3,426,6.0,158
69,2,7.55,46.4,158,18.6,19.8,10.6,22.8,68.3,0.73,...,12,10.0,76,6.7,152,8,0.8,296,4.9,70
82,2,6.89,51.5,155,21.4,19.3,16.4,31.8,75.2,0.84,...,24,27.0,85,4.6,56,15,0.8,313,5.6,80
82,2,6.89,51.5,155,21.4,19.3,16.4,31.8,75.2,0.84,...,24,27.0,85,4.6,56,15,0.8,313,5.6,80
16,2,9.69,46.4,150,20.6,18.8,12.4,26.7,70.5,0.79,...,15,7.0,83,5.1,90,12,0.8,487,4.7,73

In [ ]:
a60=pd.DataFrame.sample(data,n=100,replace=True)
A60=pd.concat([data, a60])
A60

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,2,8.48,50.9,157,20.6,20.6,13.6,26.7,71.9,0.79,...,24,21.0,84,6.1,83,14,0.8,505,4.0,144
19,2,9.37,61.7,171,21.1,25.3,16.0,25.9,74.7,0.76,...,22,13.0,87,6.3,91,16,0.7,348,4.8,63
12,2,9.86,48.6,158,19.5,19.2,13.8,28.4,72.1,0.80,...,17,22.0,70,6.7,80,11,1.0,592,5.9,193
77,1,7.03,61.7,162,23.5,26.0,14.8,24.0,85.4,0.94,...,19,41.0,89,4.1,123,11,0.7,648,4.8,128
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100

In [ ]:
a61=pd.DataFrame.sample(data,n=100,replace=True)
A61=pd.concat([data, a61])
A61

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2,5.91,50.4,145,24.0,18.1,17.2,34.1,76.1,0.86,...,24,40.0,97,2.5,93,14,0.7,326,3.6,65
109,2,5.30,43.1,150,19.2,17.3,11.7,27.1,69.6,0.83,...,15,9.0,87,4.9,108,8,0.9,302,4.1,61
13,2,9.73,59.3,158,23.8,22.2,18.9,31.9,78.1,0.82,...,34,14.0,82,5.6,79,10,0.8,252,4.2,59
20,2,9.37,40.8,147,18.9,16.9,10.2,25.0,67.9,0.75,...,12,8.0,80,5.8,138,9,0.7,362,3.6,80
19,2,9.37,61.7,171,21.1,25.3,16.0,25.9,74.7,0.76,...,22,13.0,87,6.3,91,16,0.7,348,4.8,63

In [ ]:
a62=pd.DataFrame.sample(data,n=100,replace=True)
A62=pd.concat([data, a62])
A62

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2,7.28,45.0,155,18.7,20.0,9.0,20.0,66.5,0.72,...,22,41.0,83,5.6,93,8,0.5,370,2.0,67
107,1,5.32,62.9,160,24.6,26.8,14.5,23.1,85.0,0.94,...,27,25.0,85,6.2,172,17,1.2,468,7.0,125
30,2,8.77,56.8,157,23.0,22.3,16.4,28.9,75.2,0.81,...,18,17.0,86,5.6,133,11,0.9,385,4.4,215
38,2,8.36,55.8,160,21.8,21.9,16.1,28.9,74.8,0.81,...,21,28.0,73,5.4,114,10,0.7,362,4.0,138
49,2,7.94,46.2,150,20.5,19.0,11.9,25.8,69.9,0.79,...,26,9.0,90,4.1,73,15,0.7,556,3.3,131

In [ ]:
a63=pd.DataFrame.sample(data,n=100,replace=True)
A63=pd.concat([data, a63])
A63

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,1,6.75,75.5,179,23.6,32.2,17.4,23.0,89.1,0.92,...,29,12.0,81,6.8,62,13,1.3,438,7.5,250
102,2,5.91,50.4,145,24.0,18.1,17.2,34.1,76.1,0.86,...,24,40.0,97,2.5,93,14,0.7,326,3.6,65
37,1,8.36,59.7,170,20.7,27.6,10.3,17.3,79.0,0.80,...,22,24.0,89,7.8,93,16,1.2,412,5.6,168
97,2,6.19,67.3,165,24.7,24.2,23.1,34.3,83.1,0.87,...,20,34.0,83,7.0,95,13,0.8,305,4.7,30
28,2,8.87,48.7,165,17.9,21.1,10.7,22.0,68.5,0.71,...,11,11.0,80,5.1,89,8,0.9,124,4.4,56

In [ ]:
a64=pd.DataFrame.sample(data,n=100,replace=True)
A64=pd.concat([data, a64])
A64

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2,6.66,51.7,160,20.2,20.3,14.9,28.8,73.4,0.84,...,15,16.0,107,6.5,81,12,0.7,332,3.5,84
33,2,8.54,45.6,160,17.8,19.3,10.8,23.7,68.6,0.74,...,32,2.6,97,5.3,37,12,0.6,292,4.3,58
56,1,7.81,62.8,167,22.5,27.9,12.7,20.2,82.4,0.91,...,28,16.0,81,5.6,110,15,1.2,434,6.9,89
19,2,9.37,61.7,171,21.1,25.3,16.0,25.9,74.7,0.76,...,22,13.0,87,6.3,91,16,0.7,348,4.8,63
55,2,7.83,47.4,156,19.5,20.9,9.7,20.5,67.3,0.73,...,15,17.0,89,5.9,148,12,0.7,316,3.0,69

In [ ]:
a65=pd.DataFrame.sample(data,n=100,replace=True)
A65=pd.concat([data, a65])
A65

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2,7.23,56.3,161,21.7,22.5,15.4,27.4,74.0,0.78,...,16,8.0,84,5.1,75,10,0.6,450,5.0,77
102,2,5.91,50.4,145,24.0,18.1,17.2,34.1,76.1,0.86,...,24,40.0,97,2.5,93,14,0.7,326,3.6,65
38,2,8.36,55.8,160,21.8,21.9,16.1,28.9,74.8,0.81,...,21,28.0,73,5.4,114,10,0.7,362,4.0,138
57,2,7.80,53.9,156,22.1,22.3,24.8,38.0,85.1,0.91,...,21,12.0,83,5.1,187,13,0.6,337,4.4,81
44,2,8.13,56.3,156,23.1,22.0,16.4,39.9,75.2,0.81,...,19,27.0,75,5.6,126,13,0.9,288,5.8,55

In [ ]:
a66=pd.DataFrame.sample(data,n=100,replace=True)
A66=pd.concat([data, a66])
A66

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,2,7.94,46.2,150,20.5,19.0,11.9,25.8,69.9,0.79,...,26,9.0,90,4.1,73,15,0.7,556,3.3,131
12,2,9.86,48.6,158,19.5,19.2,13.8,28.4,72.1,0.80,...,17,22.0,70,6.7,80,11,1.0,592,5.9,193
10,1,9.96,49.4,169,17.3,25.5,3.9,7.9,69.9,0.66,...,32,23.0,86,4.4,109,13,1.0,440,6.1,230
89,2,6.59,47.6,160,18.6,20.3,10.9,22.9,68.7,0.75,...,15,9.0,80,6.1,126,11,0.8,325,3.9,126
59,2,7.73,55.3,159,21.9,19.3,23.3,39.9,83.3,0.92,...,27,46.0,94,8.2,96,11,1.0,544,5.9,127

In [ ]:
a67=pd.DataFrame.sample(data,n=100,replace=True)
A67=pd.concat([data, a67])
A67

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,2,8.09,50.0,152,21.6,19.9,13.9,27.8,72.2,0.81,...,18,14.0,85,6.3,83,11,1.0,575,4.8,103
68,2,7.57,44.4,148,20.3,18.0,11.8,26.6,69.8,0.78,...,12,3.0,83,5.2,68,11,0.9,673,5.0,66
63,1,7.70,56.9,170,19.7,27.1,8.4,14.8,76.3,0.78,...,18,17.0,85,5.3,84,10,1.1,259,6.8,158
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
43,2,8.15,53.9,156,22.1,20.7,16.3,30.2,75.1,0.81,...,17,70.0,82,7.1,55,11,1.1,446,6.9,74

In [ ]:
a68=pd.DataFrame.sample(data,n=100,replace=True)
A68=pd.concat([data, a68])
A68

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2,8.53,64.5,166,23.4,24.7,19.5,30.5,78.8,0.79,...,16,10.0,81,4.5,73,10,0.8,323,3.2,47
67,2,7.58,51.2,153,21.9,19.0,16.6,32.4,75.4,0.84,...,29,23.0,90,4.1,65,9,0.8,276,4.1,52
13,2,9.73,59.3,158,23.8,22.2,18.9,31.9,78.1,0.82,...,34,14.0,82,5.6,79,10,0.8,252,4.2,59
108,1,5.31,77.7,165,28.5,29.7,23.7,30.5,98.1,1.02,...,59,48.0,106,6.3,95,13,1.3,426,6.0,158
30,2,8.77,56.8,157,23.0,22.3,16.4,28.9,75.2,0.81,...,18,17.0,86,5.6,133,11,0.9,385,4.4,215

In [ ]:
a69=pd.DataFrame.sample(data,n=100,replace=True)
A69=pd.concat([data, a69])
A69

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2,8.18,62.5,160,24.4,23.0,20.6,33.0,80.1,0.82,...,27,23.0,86,5.5,79,9,0.7,269,4.1,59
106,1,5.40,63.7,171,21.8,28.0,13.3,20.9,83.3,0.92,...,22,27.0,90,4.1,111,8,1.1,482,7.7,273
89,2,6.59,47.6,160,18.6,20.3,10.9,22.9,68.7,0.75,...,15,9.0,80,6.1,126,11,0.8,325,3.9,126
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
85,1,6.74,64.8,162,24.7,27.7,14.8,22.8,85.4,0.93,...,28,28.0,97,3.6,99,11,1.1,335,5.9,98

In [ ]:
a70=pd.DataFrame.sample(data,n=100,replace=True)
A70=pd.concat([data, a70])
A70

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2,7.43,53.8,156,22.1,21.1,15.5,28.8,74.1,0.81,...,16,10.0,80,7.9,183,13,1.0,510,4.2,117
71,2,7.43,53.8,156,22.1,21.1,15.5,28.8,74.1,0.81,...,16,10.0,80,7.9,183,13,1.0,510,4.2,117
96,1,6.23,62.5,170,21.6,27.9,12.4,19.8,82.0,0.89,...,15,21.0,99,5.2,104,12,1.2,299,5.7,46
78,1,7.01,92.6,182,28.0,45.0,15.3,16.1,86.2,0.86,...,45,84.0,78,3.4,68,16,1.0,391,7.8,117
108,1,5.31,77.7,165,28.5,29.7,23.7,30.5,98.1,1.02,...,59,48.0,106,6.3,95,13,1.3,426,6.0,158

In [ ]:
a71=pd.DataFrame.sample(data,n=100,replace=True)
A71=pd.concat([data, a71])
A71

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2,5.80,43.4,152,18.8,18.0,10.8,24.9,68.6,0.78,...,22,13.0,92,7.7,127,17,0.7,439,5.2,70
67,2,7.58,51.2,153,21.9,19.0,16.6,32.4,75.4,0.84,...,29,23.0,90,4.1,65,9,0.8,276,4.1,52
104,2,5.68,57.3,163,21.6,20.4,19.9,34.7,79.3,0.86,...,15,19.0,101,8.0,153,18,0.8,422,3.8,95
98,2,6.17,54.4,165,20.0,21.6,15.2,27.9,73.8,0.83,...,18,21.0,89,5.6,166,17,0.7,403,4.1,251
88,1,6.63,68.2,168,24.2,30.2,13.9,20.4,84.1,0.91,...,33,28.0,99,5.2,76,16,1.1,294,6.9,240

In [ ]:
a72=pd.DataFrame.sample(data,n=100,replace=True)
A72=pd.concat([data, a72])
A72

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,2,9.37,40.8,147,18.9,16.9,10.2,25.0,67.9,0.75,...,12,8.0,80,5.8,138,9,0.7,362,3.6,80
94,2,6.36,47.4,153,20.2,19.3,12.5,26.4,70.6,0.80,...,16,8.0,81,5.1,98,15,1.0,263,5.0,94
26,2,9.05,42.4,158,17.0,18.3,9.4,22.2,66.9,0.74,...,18,16.0,87,8.5,126,16,0.8,427,4.3,82
93,1,6.38,60.9,167,21.8,27.6,15.4,23.9,86.4,0.91,...,38,48.0,85,6.3,127,16,0.9,661,5.8,178
76,2,7.08,58.2,155,24.2,20.8,20.1,34.5,79.5,0.86,...,15,18.0,88,4.9,84,13,0.7,547,4.5,148

In [ ]:
a73=pd.DataFrame.sample(data,n=100,replace=True)
A73=pd.concat([data, a73])
A73

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,2,6.19,67.3,165,24.7,24.2,23.1,34.3,83.1,0.87,...,20,34.0,83,7.0,95,13,0.8,305,4.7,30
30,2,8.77,56.8,157,23.0,22.3,16.4,28.9,75.2,0.81,...,18,17.0,86,5.6,133,11,0.9,385,4.4,215
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
98,2,6.17,54.4,165,20.0,21.6,15.2,27.9,73.8,0.83,...,18,21.0,89,5.6,166,17,0.7,403,4.1,251

In [ ]:
a74=pd.DataFrame.sample(data,n=100,replace=True)
A74=pd.concat([data, a74])
A74

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1,6.86,64.6,165,23.7,27.6,14.8,22.9,85.4,0.93,...,19,33.0,87,7.4,74,16,0.9,319,7.2,69
108,1,5.31,77.7,165,28.5,29.7,23.7,30.5,98.1,1.02,...,59,48.0,106,6.3,95,13,1.3,426,6.0,158
44,2,8.13,56.3,156,23.1,22.0,16.4,39.9,75.2,0.81,...,19,27.0,75,5.6,126,13,0.9,288,5.8,55
58,2,7.79,59.4,167,21.3,23.6,16.6,27.9,75.4,0.81,...,22,6.0,81,5.5,143,10,0.6,468,3.3,78
33,2,8.54,45.6,160,17.8,19.3,10.8,23.7,68.6,0.74,...,32,2.6,97,5.3,37,12,0.6,292,4.3,58

In [ ]:
a75=pd.DataFrame.sample(data,n=100,replace=True)
A75=pd.concat([data, a75])
A75

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,2,6.19,67.3,165,24.7,24.2,23.1,34.3,83.1,0.87,...,20,34.0,83,7.0,95,13,0.8,305,4.7,30
94,2,6.36,47.4,153,20.2,19.3,12.5,26.4,70.6,0.80,...,16,8.0,81,5.1,98,15,1.0,263,5.0,94
86,2,6.66,51.7,160,20.2,20.3,14.9,28.8,73.4,0.84,...,15,16.0,107,6.5,81,12,0.7,332,3.5,84
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
39,2,8.29,56.3,161,21.7,19.6,14.1,28.6,72.5,0.84,...,15,11.0,86,5.4,139,11,0.6,337,5.2,53

In [ ]:
a76=pd.DataFrame.sample(data,n=100,replace=True)
A76=pd.concat([data, a76])
A76

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2,7.23,56.3,161,21.7,22.5,15.4,27.4,74.0,0.78,...,16,8.0,84,5.1,75,10,0.6,450,5.0,77
18,2,9.48,55.5,165,20.4,22.9,14.1,25.4,72.5,0.77,...,11,16.0,81,4.8,155,9,0.8,263,4.7,31
98,2,6.17,54.4,165,20.0,21.6,15.2,27.9,73.8,0.83,...,18,21.0,89,5.6,166,17,0.7,403,4.1,251
93,1,6.38,60.9,167,21.8,27.6,15.4,23.9,86.4,0.91,...,38,48.0,85,6.3,127,16,0.9,661,5.8,178
13,2,9.73,59.3,158,23.8,22.2,18.9,31.9,78.1,0.82,...,34,14.0,82,5.6,79,10,0.8,252,4.2,59

In [ ]:
a77=pd.DataFrame.sample(data,n=100,replace=True)
A77=pd.concat([data, a77])
A77

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,2,8.15,53.9,156,22.1,20.7,16.3,30.2,75.1,0.81,...,17,70.0,82,7.1,55,11,1.1,446,6.9,74
104,2,5.68,57.3,163,21.6,20.4,19.9,34.7,79.3,0.86,...,15,19.0,101,8.0,153,18,0.8,422,3.8,95
7,2,10.13,58.6,162,22.3,23.8,15.6,43.0,74.2,0.78,...,15,13.0,92,6.5,69,13,0.9,374,4.3,152
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
87,2,6.64,48.6,154,20.5,19.7,12.9,26.5,71.1,0.80,...,16,14.0,85,6.5,106,18,0.7,527,3.8,125

In [ ]:
a78=pd.DataFrame.sample(data,n=100,replace=True)
A78=pd.concat([data, a78])
A78

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2,8.36,55.8,160,21.8,21.9,16.1,28.9,74.8,0.81,...,21,28.0,73,5.4,114,10,0.7,362,4.0,138
67,2,7.58,51.2,153,21.9,19.0,16.6,32.4,75.4,0.84,...,29,23.0,90,4.1,65,9,0.8,276,4.1,52
26,2,9.05,42.4,158,17.0,18.3,9.4,22.2,66.9,0.74,...,18,16.0,87,8.5,126,16,0.8,427,4.3,82
9,2,10.05,45.4,155,18.9,19.3,10.5,23.1,68.2,0.72,...,24,10.0,78,3.5,70,10,0.7,252,4.9,40
6,1,10.21,74.9,179,23.4,34.8,12.6,16.8,82.3,0.80,...,29,35.0,74,5.9,98,19,1.4,324,5.8,151

In [ ]:
a79=pd.DataFrame.sample(data,n=100,replace=True)
A79=pd.concat([data, a79])
A79

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,2,9.22,46.3,154,19.5,20.5,9.4,20.3,66.9,0.71,...,40,78.0,78,5.0,35,13,0.9,509,6.3,199
84,1,6.75,75.5,179,23.6,32.2,17.4,23.0,89.1,0.92,...,29,12.0,81,6.8,62,13,1.3,438,7.5,250
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66
111,2,4.79,53.8,150,23.9,18.6,19.6,36.4,78.9,0.90,...,22,11.0,86,6.2,99,13,1.0,373,4.4,102
25,2,9.12,59.1,160,23.1,22.9,17.5,29.6,76.5,0.80,...,14,85.0,76,3.3,77,19,0.8,367,5.1,109

In [ ]:
a80=pd.DataFrame.sample(data,n=100,replace=True)
A80=pd.concat([data, a80])
A80

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,2,9.26,51.2,162,19.5,20.8,13.4,26.2,71.6,0.76,...,22,12.0,83,6.8,81,14,0.4,339,3.0,37
15,2,9.71,57.1,158,22.9,22.8,15.8,27.7,74.5,0.81,...,18,15.0,86,5.5,134,16,0.7,381,3.9,97
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41
53,1,7.86,61.9,165,22.7,27.7,12.0,19.4,81.4,0.89,...,26,32.0,87,6.4,79,15,1.3,329,6.3,169
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49

In [ ]:
a81=pd.DataFrame.sample(data,n=100,replace=True)
A81=pd.concat([data, a81])
A81

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
71,2,7.43,53.8,156,22.1,21.1,15.5,28.8,74.1,0.81,...,16,10.0,80,7.9,183,13,1.0,510,4.2,117
109,2,5.30,43.1,150,19.2,17.3,11.7,27.1,69.6,0.83,...,15,9.0,87,4.9,108,8,0.9,302,4.1,61
96,1,6.23,62.5,170,21.6,27.9,12.4,19.8,82.0,0.89,...,15,21.0,99,5.2,104,12,1.2,299,5.7,46
56,1,7.81,62.8,167,22.5,27.9,12.7,20.2,82.4,0.91,...,28,16.0,81,5.6,110,15,1.2,434,6.9,89

In [ ]:
a82=pd.DataFrame.sample(data,n=100,replace=True)
A82=pd.concat([data, a82])
A82

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2,6.17,51.4,150,22.8,18.5,17.6,34.2,76.6,0.85,...,22,16.0,86,6.3,78,16,1.0,314,5.7,112
61,2,7.70,58.9,160,23.0,24.6,32.1,41.8,93.7,0.96,...,27,49.0,74,6.4,73,13,0.9,418,5.7,72
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
26,2,9.05,42.4,158,17.0,18.3,9.4,22.2,66.9,0.74,...,18,16.0,87,8.5,126,16,0.8,427,4.3,82
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41

In [ ]:
a83=pd.DataFrame.sample(data,n=100,replace=True)
A83=pd.concat([data, a83])
A83

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,2,9.26,51.2,162,19.5,20.8,13.4,26.2,71.6,0.76,...,22,12.0,83,6.8,81,14,0.4,339,3.0,37
42,2,8.18,62.5,160,24.4,23.0,20.6,33.0,80.1,0.82,...,27,23.0,86,5.5,79,9,0.7,269,4.1,59
60,1,7.73,77.9,185,22.8,33.9,16.9,21.7,88.4,0.89,...,22,28.0,93,4.2,87,15,1.0,286,6.2,104
53,1,7.86,61.9,165,22.7,27.7,12.0,19.4,81.4,0.89,...,26,32.0,87,6.4,79,15,1.3,329,6.3,169
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66

In [ ]:
a84=pd.DataFrame.sample(data,n=100,replace=True)
A84=pd.concat([data, a84])
A84

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2,7.57,44.4,148,20.3,18.0,11.8,26.6,69.8,0.78,...,12,3.0,83,5.2,68,11,0.9,673,5.0,66
10,1,9.96,49.4,169,17.3,25.5,3.9,7.9,69.9,0.66,...,32,23.0,86,4.4,109,13,1.0,440,6.1,230
48,2,8.06,47.3,158,18.9,20.2,10.8,22.8,68.6,0.74,...,18,12.0,76,5.7,49,7,0.6,404,3.0,114
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41
96,1,6.23,62.5,170,21.6,27.9,12.4,19.8,82.0,0.89,...,15,21.0,99,5.2,104,12,1.2,299,5.7,46

In [ ]:
a85=pd.DataFrame.sample(data,n=100,replace=True)
A85=pd.concat([data, a85])
A85

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,1,8.36,59.7,170,20.7,27.6,10.3,17.3,79.0,0.80,...,22,24.0,89,7.8,93,16,1.2,412,5.6,168
29,2,8.79,52.1,160,20.4,20.9,14.2,27.3,72.6,0.78,...,11,22.0,82,3.8,116,9,0.9,322,4.9,93
110,2,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,0.75,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
62,2,7.70,59.2,157,24.0,22.3,18.6,31.4,77.8,0.82,...,18,10.0,78,2.7,163,10,0.7,392,3.3,71
104,2,5.68,57.3,163,21.6,20.4,19.9,34.7,79.3,0.86,...,15,19.0,101,8.0,153,18,0.8,422,3.8,95

In [ ]:
a86=pd.DataFrame.sample(data,n=100,replace=True)
A86=pd.concat([data, a86])
A86

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,2,6.89,51.5,155,21.4,19.3,16.4,31.8,75.2,0.84,...,24,27.0,85,4.6,56,15,0.8,313,5.6,80
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100
58,2,7.79,59.4,167,21.3,23.6,16.6,27.9,75.4,0.81,...,22,6.0,81,5.5,143,10,0.6,468,3.3,78
49,2,7.94,46.2,150,20.5,19.0,11.9,25.8,69.9,0.79,...,26,9.0,90,4.1,73,15,0.7,556,3.3,131

In [ ]:
a87=pd.DataFrame.sample(data,n=100,replace=True)
A87=pd.concat([data, a87])
A87

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2,7.58,51.2,153,21.9,19.0,16.6,32.4,75.4,0.84,...,29,23.0,90,4.1,65,9,0.8,276,4.1,52
35,2,8.53,64.5,166,23.4,24.7,19.5,30.5,78.8,0.79,...,16,10.0,81,4.5,73,10,0.8,323,3.2,47
48,2,8.06,47.3,158,18.9,20.2,10.8,22.8,68.6,0.74,...,18,12.0,76,5.7,49,7,0.6,404,3.0,114
110,2,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,0.75,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
86,2,6.66,51.7,160,20.2,20.3,14.9,28.8,73.4,0.84,...,15,16.0,107,6.5,81,12,0.7,332,3.5,84

In [ ]:
a88=pd.DataFrame.sample(data,n=100,replace=True)
A88=pd.concat([data, a88])
A88

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,2,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,0.75,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
45,2,8.12,52.9,163,19.9,21.6,13.9,26.3,72.2,0.79,...,19,35.0,88,5.5,60,13,0.8,295,3.7,41
83,1,6.86,64.6,165,23.7,27.6,14.8,22.9,85.4,0.93,...,19,33.0,87,7.4,74,16,0.9,319,7.2,69
84,1,6.75,75.5,179,23.6,32.2,17.4,23.0,89.1,0.92,...,29,12.0,81,6.8,62,13,1.3,438,7.5,250
109,2,5.30,43.1,150,19.2,17.3,11.7,27.1,69.6,0.83,...,15,9.0,87,4.9,108,8,0.9,302,4.1,61

In [ ]:
a89=pd.DataFrame.sample(data,n=100,replace=True)
A89=pd.concat([data, a89])
A89

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2,6.45,55.2,163,20.8,22.0,15.2,40.0,73.8,0.81,...,10,15.0,77,5.7,89,12,0.7,263,5.1,55
33,2,8.54,45.6,160,17.8,19.3,10.8,23.7,68.6,0.74,...,32,2.6,97,5.3,37,12,0.6,292,4.3,58
13,2,9.73,59.3,158,23.8,22.2,18.9,31.9,78.1,0.82,...,34,14.0,82,5.6,79,10,0.8,252,4.2,59
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49

In [ ]:
a90=pd.DataFrame.sample(data,n=100,replace=True)
A90=pd.concat([data, a90])
A90

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2,5.58,43.5,153,18.6,17.8,11.2,25.7,69.1,0.80,...,18,20.0,90,8.4,78,16,0.9,325,4.1,91
6,1,10.21,74.9,179,23.4,34.8,12.6,16.8,82.3,0.80,...,29,35.0,74,5.9,98,19,1.4,324,5.8,151
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
81,2,6.94,56.4,163,21.2,22.9,14.9,26.4,73.4,0.79,...,12,13.0,82,4.9,162,14,0.9,259,4.9,72
29,2,8.79,52.1,160,20.4,20.9,14.2,27.3,72.6,0.78,...,11,22.0,82,3.8,116,9,0.9,322,4.9,93

In [ ]:
a91=pd.DataFrame.sample(data,n=100,replace=True)
A91=pd.concat([data, a91])
A91

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2,7.57,44.4,148,20.3,18.0,11.8,26.6,69.8,0.78,...,12,3.0,83,5.2,68,11,0.9,673,5.0,66
19,2,9.37,61.7,171,21.1,25.3,16.0,25.9,74.7,0.76,...,22,13.0,87,6.3,91,16,0.7,348,4.8,63
39,2,8.29,56.3,161,21.7,19.6,14.1,28.6,72.5,0.84,...,15,11.0,86,5.4,139,11,0.6,337,5.2,53
7,2,10.13,58.6,162,22.3,23.8,15.6,43.0,74.2,0.78,...,15,13.0,92,6.5,69,13,0.9,374,4.3,152
82,2,6.89,51.5,155,21.4,19.3,16.4,31.8,75.2,0.84,...,24,27.0,85,4.6,56,15,0.8,313,5.6,80

In [ ]:
a92=pd.DataFrame.sample(data,n=100,replace=True)
A92=pd.concat([data, a92])
A92

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,2,8.76,44.3,156,18.2,19.5,9.2,20.8,66.7,0.72,...,48,13.0,81,6.1,128,12,0.9,591,6.3,81
14,2,9.71,53.2,157,21.6,21.3,14.6,27.4,73.8,0.77,...,13,11.0,79,5.4,72,12,0.8,402,5.2,78
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
95,2,6.33,46.4,152,20.1,18.4,13.1,28.2,71.3,0.83,...,15,8.0,89,4.2,90,12,0.5,494,4.5,77

In [ ]:
a93=pd.DataFrame.sample(data,n=100,replace=True)
A93=pd.concat([data, a93])
A93

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
37,1,8.36,59.7,170,20.7,27.6,10.3,17.3,79.0,0.80,...,22,24.0,89,7.8,93,16,1.2,412,5.6,168
36,2,8.48,50.9,157,20.6,20.6,13.6,26.7,71.9,0.79,...,24,21.0,84,6.1,83,14,0.8,505,4.0,144
75,2,7.23,56.3,161,21.7,22.5,15.4,27.4,74.0,0.78,...,16,8.0,84,5.1,75,10,0.6,450,5.0,77
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66

In [ ]:
a94=pd.DataFrame.sample(data,n=100,replace=True)
A94=pd.concat([data, a94])
A94

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,2,8.77,56.8,157,23.0,22.3,16.4,28.9,75.2,0.81,...,18,17.0,86,5.6,133,11,0.9,385,4.4,215
92,2,6.45,55.2,163,20.8,22.0,15.2,40.0,73.8,0.81,...,10,15.0,77,5.7,89,12,0.7,263,5.1,55
69,2,7.55,46.4,158,18.6,19.8,10.6,22.8,68.3,0.73,...,12,10.0,76,6.7,152,8,0.8,296,4.9,70
60,1,7.73,77.9,185,22.8,33.9,16.9,21.7,88.4,0.89,...,22,28.0,93,4.2,87,15,1.0,286,6.2,104
52,2,7.86,57.8,164,21.5,22.4,17.1,29.6,76.0,0.83,...,16,7.0,87,5.6,98,14,0.7,806,5.2,100

In [ ]:
a95=pd.DataFrame.sample(data,n=100,replace=True)
A95=pd.concat([data, a95])
A95

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2,6.45,55.2,163,20.8,22.0,15.2,40.0,73.8,0.81,...,10,15.0,77,5.7,89,12,0.7,263,5.1,55
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
47,2,8.09,50.0,152,21.6,19.9,13.9,27.8,72.2,0.81,...,18,14.0,85,6.3,83,11,1.0,575,4.8,103
79,2,6.99,55.2,150,24.5,19.9,18.8,34.1,78.0,0.85,...,16,15.0,83,7.2,99,16,0.9,358,4.9,43
11,1,9.94,44.8,163,16.9,21.1,6.9,15.4,64.0,0.67,...,13,7.0,88,6.5,121,12,1.0,269,5.1,63

In [ ]:
a96=pd.DataFrame.sample(data,n=100,replace=True)
A96=pd.concat([data, a96])
A96

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,1,6.11,59.1,160,23.1,26.8,10.9,18.4,79.9,0.91,...,28,24.0,79,7.1,120,11,1.1,210,5.1,80
30,2,8.77,56.8,157,23.0,22.3,16.4,28.9,75.2,0.81,...,18,17.0,86,5.6,133,11,0.9,385,4.4,215
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
98,2,6.17,54.4,165,20.0,21.6,15.2,27.9,73.8,0.83,...,18,21.0,89,5.6,166,17,0.7,403,4.1,251
43,2,8.15,53.9,156,22.1,20.7,16.3,30.2,75.1,0.81,...,17,70.0,82,7.1,55,11,1.1,446,6.9,74

In [ ]:
a97=pd.DataFrame.sample(data,n=100,replace=True)
A97=pd.concat([data, a97])
A97

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,1,5.32,62.9,160,24.6,26.8,14.5,23.1,85.0,0.94,...,27,25.0,85,6.2,172,17,1.2,468,7.0,125
11,1,9.94,44.8,163,16.9,21.1,6.9,15.4,64.0,0.67,...,13,7.0,88,6.5,121,12,1.0,269,5.1,63
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66
5,2,10.27,46.8,158,18.7,20.5,9.9,21.2,67.5,0.72,...,13,8.0,80,3.3,76,11,0.8,698,4.1,130
23,2,9.18,49.8,155,20.7,20.6,12.6,25.3,70.7,0.77,...,11,10.0,86,5.5,84,12,0.8,263,3.7,62

In [ ]:
a98=pd.DataFrame.sample(data,n=100,replace=True)
A98=pd.concat([data, a98])
A98

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,2,6.99,55.2,150,24.5,19.9,18.8,34.1,78.0,0.85,...,16,15.0,83,7.2,99,16,0.9,358,4.9,43
36,2,8.48,50.9,157,20.6,20.6,13.6,26.7,71.9,0.79,...,24,21.0,84,6.1,83,14,0.8,505,4.0,144
37,1,8.36,59.7,170,20.7,27.6,10.3,17.3,79.0,0.80,...,22,24.0,89,7.8,93,16,1.2,412,5.6,168
11,1,9.94,44.8,163,16.9,21.1,6.9,15.4,64.0,0.67,...,13,7.0,88,6.5,121,12,1.0,269,5.1,63
106,1,5.40,63.7,171,21.8,28.0,13.3,20.9,83.3,0.92,...,22,27.0,90,4.1,111,8,1.1,482,7.7,273

In [ ]:
a99=pd.DataFrame.sample(data,n=100,replace=True)
A99=pd.concat([data, a99])
A99

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,1,5.40,63.7,171,21.8,28.0,13.3,20.9,83.3,0.92,...,22,27.0,90,4.1,111,8,1.1,482,7.7,273
49,2,7.94,46.2,150,20.5,19.0,11.9,25.8,69.9,0.79,...,26,9.0,90,4.1,73,15,0.7,556,3.3,131
36,2,8.48,50.9,157,20.6,20.6,13.6,26.7,71.9,0.79,...,24,21.0,84,6.1,83,14,0.8,505,4.0,144
15,2,9.71,57.1,158,22.9,22.8,15.8,27.7,74.5,0.81,...,18,15.0,86,5.5,134,16,0.7,381,3.9,97
34,2,8.54,53.2,167,19.1,22.4,13.2,24.8,71.4,0.74,...,22,16.0,92,6.5,73,11,0.5,362,2.9,43

In [ ]:
a100=pd.DataFrame.sample(data,n=100,replace=True)
A100=pd.concat([data, a100])
A100

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2,6.56,49.9,160,19.5,19.8,14.1,28.3,72.5,0.83,...,24,18.0,84,6.5,166,15,0.7,319,5.0,96
73,2,7.36,54.3,158,21.8,19.7,16.4,31.7,75.3,0.84,...,12,11.0,90,8.2,69,19,0.7,394,4.3,89
56,1,7.81,62.8,167,22.5,27.9,12.7,20.2,82.4,0.91,...,28,16.0,81,5.6,110,15,1.2,434,6.9,89
91,1,6.52,72.3,170,25.0,29.2,19.0,26.4,91.4,0.93,...,15,12.0,78,5.2,39,14,0.9,329,6.9,81
57,2,7.80,53.9,156,22.1,22.3,24.8,38.0,85.1,0.91,...,21,12.0,83,5.1,187,13,0.6,337,4.4,81

#treeregression

In [ ]:
X=data[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=data['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A1[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A1['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t1=Tree_im

In [ ]:
X=A2[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A2['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t2=Tree_im

In [ ]:
X=A3[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A3['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t3=Tree_im

In [ ]:
X=A4[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A4['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t4=Tree_im

In [ ]:
X=A5[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A5['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t5=Tree_im

In [ ]:
X=A6[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A6['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t6=Tree_im

In [ ]:
X=A7[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A7['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t7=Tree_im

In [ ]:
X=A8[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A8['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t8=Tree_im

In [ ]:
X=A9[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A9['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t9=Tree_im

In [ ]:
X=A10[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A10['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t10=Tree_im

In [ ]:
X=A11[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A11['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t11=Tree_im

In [ ]:
X=A12[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A12['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t12=Tree_im

In [ ]:
X=A13[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A13['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t13=Tree_im

In [ ]:
X=A14[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A14['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t14=Tree_im

In [ ]:
X=A15[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A15['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t15=Tree_im

In [ ]:
X=A16[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A16['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t16=Tree_im

In [ ]:
X=A17[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A17['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t17=Tree_im

In [ ]:
X=A18[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A18['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t18=Tree_im

In [ ]:
X=A19[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A19['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t19=Tree_im

In [ ]:
X=A20[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A20['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t20=Tree_im

In [ ]:
X=A21[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A21['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t21=Tree_im

In [ ]:
X=A22[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A22['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t22=Tree_im

In [ ]:
X=A23[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A23['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t23=Tree_im

In [ ]:
X=A24[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A24['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t24=Tree_im

In [ ]:
X=A25[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A25['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t25=Tree_im

In [ ]:
X=A26[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A26['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t26=Tree_im

In [ ]:
X=A27[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A27['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t27=Tree_im

In [ ]:
X=A28[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A28['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t28=Tree_im

In [ ]:
X=A29[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A29['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t29=Tree_im

In [ ]:
X=A30[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A30['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t30=Tree_im

In [ ]:
X=A31[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A31['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t31=Tree_im

In [ ]:
X=A32[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A32['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t32=Tree_im

In [ ]:
X=A33[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A33['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t33=Tree_im

In [ ]:
X=A34[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A34['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t34=Tree_im

In [ ]:
X=A35[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A35['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t35=Tree_im

In [ ]:
X=A36[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A36['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t36=Tree_im

In [ ]:
X=A37[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A37['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t37=Tree_im

In [ ]:
X=A38[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A38['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t38=Tree_im

In [ ]:
X=A39[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A39['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t39=Tree_im

In [ ]:
X=A40[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A40['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t40=Tree_im

In [ ]:
X=A41[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A41['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t41=Tree_im

In [ ]:
X=A42[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A42['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t42=Tree_im

In [ ]:
X=A43[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A43['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t43=Tree_im

In [ ]:
X=A44[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A44['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t44=Tree_im

In [ ]:
X=A45[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A45['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t45=Tree_im

In [ ]:
X=A46[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A46['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t46=Tree_im

In [ ]:
X=A47[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A47['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t47=Tree_im

In [ ]:
X=A48[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A48['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t48=Tree_im

In [ ]:
X=A49[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A49['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t49=Tree_im

In [ ]:
X=A50[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A50['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t50=Tree_im

In [ ]:
X=A51[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A51['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t51=Tree_im

In [ ]:
X=A52[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A52['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t52=Tree_im

In [ ]:
X=A53[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A53['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t53=Tree_im

In [ ]:
X=A54[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A54['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t54=Tree_im

In [ ]:
X=A55[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A55['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t55=Tree_im

In [ ]:
X=A56[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A56['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t56=Tree_im

In [ ]:
X=A57[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A57['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t57=Tree_im

In [ ]:
X=A58[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A58['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t58=Tree_im

In [ ]:
X=A59[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A59['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t59=Tree_im

In [ ]:
X=A60[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A60['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t60=Tree_im

In [ ]:
X=A61[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A61['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t61=Tree_im

In [ ]:
X=A62[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A62['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t62=Tree_im

In [ ]:
X=A63[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A63['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t63=Tree_im

In [ ]:
X=A64[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A64['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t64=Tree_im

In [ ]:
X=A65[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A65['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t65=Tree_im

In [ ]:
X=A66[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A66['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t66=Tree_im

In [ ]:
X=A67[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A67['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t67=Tree_im

In [ ]:
X=A68[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A68['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t68=Tree_im

In [ ]:
X=A69[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A69['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t69=Tree_im

In [ ]:
X=A70[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A70['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t70=Tree_im

In [ ]:
X=A71[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A71['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t71=Tree_im

In [ ]:
X=A72[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A72['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
t72=Tree_im

#forestregression

In [ ]:
X=data[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=data['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
fdata=Tree_im

In [ ]:
X=A1[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A1['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f1=Tree_im

In [ ]:
X=A2[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A2['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f2=Tree_im

In [ ]:
X=A3[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A3['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f3=Tree_im

In [ ]:
X=A4[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A4['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f4=Tree_im

In [ ]:
X=A5[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A5['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f5=Tree_im

In [ ]:
X=A6[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A6['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f6=Tree_im

In [ ]:
X=A7[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A7['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f7=Tree_im

In [ ]:
X=A8[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A8['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f8=Tree_im

In [ ]:
X=A9[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A9['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f9=Tree_im

In [ ]:
X=A10[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A10['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f10=Tree_im

In [ ]:
X=A11[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A11['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f11=Tree_im

In [ ]:
X=A12[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A12['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f12=Tree_im

In [ ]:
X=A13[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A13['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f13=Tree_im

In [ ]:
X=A14[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A14['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f14=Tree_im

In [ ]:
X=A15[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A15['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f15=Tree_im

In [ ]:
X=A16[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A16['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f16=Tree_im

In [ ]:
X=A17[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A17['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f17=Tree_im

In [ ]:
X=A18[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A18['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f18=Tree_im

In [ ]:
X=A19[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A19['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f19=Tree_im

In [ ]:
X=A20[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A20['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f20=Tree_im

In [ ]:
X=A21[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A21['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f21=Tree_im

In [ ]:
X=A22[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A22['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f22=Tree_im

In [ ]:
X=A23[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A23['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f23=Tree_im

In [ ]:
X=A24[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A24['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f24=Tree_im

In [ ]:
X=A25[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A25['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f25=Tree_im

In [ ]:
X=A26[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A26['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f26=Tree_im

In [ ]:
X=A27[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A27['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f27=Tree_im

In [ ]:
X=A28[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A28['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f28=Tree_im

In [ ]:
X=A29[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A29['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f29=Tree_im

In [ ]:
X=A30[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A30['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f30=Tree_im

In [ ]:
X=A31[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A31['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f31=Tree_im

In [ ]:
X=A32[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A32['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f32=Tree_im

In [ ]:
X=A33[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A33['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f33=Tree_im

In [ ]:
X=A34[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A34['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f34=Tree_im

In [ ]:
X=A35[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A35['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f35=Tree_im

In [ ]:
X=A36[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A36['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f36Tree_im

In [ ]:
X=A37[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A37['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f37=Tree_im

In [ ]:
X=A38[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A38['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f38=Tree_im

In [ ]:
X=A39[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A39['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f39=Tree_im

In [ ]:
X=A40[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A40['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f40=Tree_im

In [ ]:
X=A41[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A41['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f41=Tree_im

In [ ]:
X=A42[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A42['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f42=Tree_im

In [ ]:
X=A43[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A43['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f43=Tree_im

In [ ]:
X=A44[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A44['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f44=Tree_im

In [ ]:
X=A45[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A45['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f45=Tree_im

In [ ]:
X=A46[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A46['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f46=Tree_im

In [ ]:
X=A47[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A47['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f47=Tree_im

In [ ]:
X=A48[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A48['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f48=Tree_im

In [ ]:
X=A49[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A49['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f49=Tree_im

In [ ]:
X=A50[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A50['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f50=Tree_im

In [ ]:
X=A51[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A51['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f51=Tree_im

In [ ]:
X=A52[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A52['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f52=Tree_im

In [ ]:
X=A53[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A53['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f53=Tree_im

In [ ]:
X=A54[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A54['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f54=Tree_im

In [ ]:
X=A55[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A55['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f55=Tree_im

In [ ]:
X=A56[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A56['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f56=Tree_im

In [ ]:
X=A57[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A57['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f57=Tree_im

In [ ]:
X=A58[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A58['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f58=Tree_im

In [ ]:
X=A59[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A59['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f59=Tree_im

In [ ]:
X=A60[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A60['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f60=Tree_im

In [ ]:
X=A61[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A61['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f61=Tree_im

In [ ]:
X=A62[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A62['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f62=Tree_im

In [ ]:
X=A63[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A63['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f63=Tree_im

In [ ]:
X=A64[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A64['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f64=Tree_im

In [ ]:
X=A65[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A65['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f65=Tree_im

In [ ]:
X=A66[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A66['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f66=Tree_im

In [ ]:
X=A67[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A67['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f67=Tree_im

In [ ]:
X=A68[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A68['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f68=Tree_im

In [ ]:
X=A69[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A69['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f69=Tree_im

In [ ]:
X=A70[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A70['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f70=Tree_im

In [ ]:
X=A71[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A71['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f71=Tree_im

In [ ]:
X=A72[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A72['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f72=Tree_im

In [ ]:
X=A73[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A73['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f73=Tree_im

In [ ]:
X=A74[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A74['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f74=Tree_im

In [ ]:
X=A75[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A75['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f75=Tree_im

In [ ]:
X=A76[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A76['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f76=Tree_im

In [ ]:
X=A77[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A77['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f77=Tree_im

In [ ]:
X=A78[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A78['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f78=Tree_im

In [ ]:
X=A79[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A79['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f79=Tree_im

In [ ]:
X=A80[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A80['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f80=Tree_im

In [ ]:
X=A81[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A81['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f81=Tree_im

In [ ]:
X=A82[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A82['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f82=Tree_im

In [ ]:
X=A83[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A83['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f83=Tree_im

In [ ]:
X=A84[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A84['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f84=Tree_im

In [ ]:
X=A85[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A85['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f85=Tree_im

In [ ]:
X=A86[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A86['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f86=Tree_im

In [ ]:
X=A87[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A87['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f87=Tree_im

In [ ]:
X=A88[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A88['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f88=Tree_im

In [ ]:
X=A89[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A89['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f89=Tree_im

In [ ]:
X=A90[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A90['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f90=Tree_im

In [ ]:
X=A91[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A91['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f91=Tree_im

In [ ]:
X=A92[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A92['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f92=Tree_im

In [ ]:
X=A93[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A93['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f93=Tree_im

In [ ]:
X=A94[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A94['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f94=Tree_im

In [ ]:
X=A95[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A95['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f95=Tree_im

In [ ]:
X=A96[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A96['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f96=Tree_im

In [ ]:
X=A97[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A97['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f97=Tree_im

In [ ]:
X=A98[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A98['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f98=Tree_im

In [ ]:
X=A99[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A99['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f99=Tree_im

In [ ]:
X=A100[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A100['telomere length (kb)']
Forest = RandomForestRegressor()
Forest = Forest.fit(X,y)
Forest.feature_importances_
Forest_im=pd.DataFrame(Forest.feature_importances_,index=X.columns)
f100=Tree_im

#GradientBoostingRegression

In [ ]:
X=data[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=data['telomere length (kb)']
Gradient = GradientBoostingRegressor()
Gradient = Gradient.fit(X,y)
Gradient.feature_importances_
Gradient_im=pd.DataFrame(Gradient.feature_importances_,index=X.columns)
gdata

In [ ]:
X=A1[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A1['telomere length (kb)']
Gradient = GradientBoostingRegressor()
Gradient = Gradient.fit(X,y)
Gradient.feature_importances_
Gradient_im=pd.DataFrame(Gradient.feature_importances_,index=X.columns)
g1