<a href="https://colab.research.google.com/github/Sitthirat/data_viz_2022/blob/main/100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os 
import numpy as np
import pandas as pd
from matplotlib.pyplot import figure
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
from google.colab import drive    
drive.mount('/content/drive')
path = '/content/drive/My Drive/project 2023'

Mounted at /content/drive

#data

In [ ]:
data_file_path = os.path.join(path,'data.csv')
data= pd.read_csv(data_file_path)

In [ ]:
data

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,21,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,22,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,20,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,32,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,25,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2,70,5.30,43.1,150,19.2,17.3,11.7,27.1,69.6,...,15,9.0,87,4.9,108,8,0.9,302,4.1,61
110,2,71,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
111,2,76,4.79,53.8,150,23.9,18.6,19.6,36.4,78.9,...,22,11.0,86,6.2,99,13,1.0,373,4.4,102
112,1,74,4.54,61.1,170,21.1,28.8,9.5,15.5,77.9,...,12,17.0,83,7.1,131,17,1.1,290,6.2,89
113,1,68,4.28,71.2,189,19.9,36.5,6.0,8.4,72.9,...,15,9.0,94,4.2,120,13,0.9,610,5.6,355

In [ ]:
data.drop(['AgeSYear'], axis=1, inplace=True) 
data

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2,5.30,43.1,150,19.2,17.3,11.7,27.1,69.6,0.83,...,15,9.0,87,4.9,108,8,0.9,302,4.1,61
110,2,5.02,40.9,150,18.2,17.6,9.1,22.2,66.6,0.75,...,15,17.0,79,4.4,139,17,0.7,497,3.6,94
111,2,4.79,53.8,150,23.9,18.6,19.6,36.4,78.9,0.90,...,22,11.0,86,6.2,99,13,1.0,373,4.4,102
112,1,4.54,61.1,170,21.1,28.8,9.5,15.5,77.9,0.88,...,12,17.0,83,7.1,131,17,1.1,290,6.2,89
113,1,4.28,71.2,189,19.9,36.5,6.0,8.4,72.9,0.77,...,15,9.0,94,4.2,120,13,0.9,610,5.6,355

In [ ]:
a1=pd.DataFrame.sample(data,n=100,replace=True)
A1=pd.concat([data, a1])
A1

,Sex,telomere length (kb),Weight,Height,BMI,SMM,Fat Mass,% Body fat,abdominal circumference,waist to hip radio,...,AST,GGT,Glucose,HbA1c,AMY7,BUN,Creatinine,LD-P,Uric Acid,CK
0,2,11.82,51.6,160,20.2,20.8,13.8,26.7,72.1,0.76,...,9,12.0,77,3.4,127,12,0.9,494,5.4,94
1,2,11.40,48.6,155,20.2,20.2,12.1,24.9,70.1,0.73,...,28,14.0,82,6.1,102,13,0.7,321,2.9,49
2,2,10.82,47.2,159,18.7,20.5,10.3,21.8,68.0,0.71,...,13,11.0,84,4.5,117,12,0.8,273,3.9,41
3,2,10.57,49.9,163,18.8,22.2,10.1,20.2,67.8,0.71,...,20,25.0,84,4.1,119,8,0.9,296,3.9,103
4,2,10.30,50.5,158,20.2,20.5,13.3,26.3,71.5,0.75,...,13,13.0,79,5.3,145,14,0.5,344,3.9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,1,5.31,77.7,165,28.5,29.7,23.7,30.5,98.1,1.02,...,59,48.0,106,6.3,95,13,1.3,426,6.0,158
70,2,7.46,54.1,162,20.6,22.7,13.1,24.2,71.3,0.75,...,13,10.0,93,7.7,52,9,0.6,457,3.6,66
96,1,6.23,62.5,170,21.6,27.9,12.4,19.8,82.0,0.89,...,15,21.0,99,5.2,104,12,1.2,299,5.7,46
97,2,6.19,67.3,165,24.7,24.2,23.1,34.3,83.1,0.87,...,20,34.0,83,7.0,95,13,0.8,305,4.7,30
21,2,9.26,51.2,162,19.5,20.8,13.4,26.2,71.6,0.76,...,22,12.0,83,6.8,81,14,0.4,339,3.0,37

In [1]:
a2=pd.DataFrame.sample(data,n=100,replace=True)
A2=pd.concat([data, a2])
A2

NameError: ignored

In [ ]:
a3=pd.DataFrame.sample(data,n=100,replace=True)
A3=pd.concat([data, a3])
A3

In [ ]:
a4=pd.DataFrame.sample(data,n=100,replace=True)
A4=pd.concat([data, a4])
A4

In [ ]:
a5=pd.DataFrame.sample(data,n=100,replace=True)
A5=pd.concat([data, a5])
A5

In [ ]:
a6=pd.DataFrame.sample(data,n=100,replace=True)
A6=pd.concat([data, a6])
A6

In [ ]:
a7=pd.DataFrame.sample(data,n=100,replace=True)
A7=pd.concat([data, a7])
A7

In [ ]:
a8=pd.DataFrame.sample(data,n=100,replace=True)
A8=pd.concat([data, a8])
A8

In [ ]:
a9=pd.DataFrame.sample(data,n=100,replace=True)
A9=pd.concat([data, a9])
A9

In [ ]:
a10=pd.DataFrame.sample(data,n=100,replace=True)
A10=pd.concat([data, a10])
A10

In [ ]:
a11=pd.DataFrame.sample(data,n=100,replace=True)
A11=pd.concat([data, a11])
A11

In [ ]:
a12=pd.DataFrame.sample(data,n=100,replace=True)
A12=pd.concat([data, a12])
A12

In [ ]:
a13=pd.DataFrame.sample(data,n=100,replace=True)
A13=pd.concat([data, a13])
A13

In [ ]:
a14=pd.DataFrame.sample(data,n=100,replace=True)
A14=pd.concat([data, a14])
A14

In [ ]:
a15=pd.DataFrame.sample(data,n=100,replace=True)
A15=pd.concat([data, a15])
A15

In [ ]:
a16=pd.DataFrame.sample(data,n=100,replace=True)
A16=pd.concat([data, a16])
A16

In [ ]:
a17=pd.DataFrame.sample(data,n=100,replace=True)
A17=pd.concat([data, a17])
A17

In [ ]:
a18=pd.DataFrame.sample(data,n=100,replace=True)
A18=pd.concat([data, a18])
A18

In [ ]:
a19=pd.DataFrame.sample(data,n=100,replace=True)
A19=pd.concat([data, a19])
A19

In [ ]:
a20=pd.DataFrame.sample(data,n=100,replace=True)
A20=pd.concat([data, a20])
A20

In [ ]:
a21=pd.DataFrame.sample(data,n=100,replace=True)
A21=pd.concat([data, a21])
A21

In [ ]:
a22=pd.DataFrame.sample(data,n=100,replace=True)
A22=pd.concat([data, a22])
A22

In [ ]:
a23=pd.DataFrame.sample(data,n=100,replace=True)
A23=pd.concat([data, a23])
A23

In [ ]:
a24=pd.DataFrame.sample(data,n=100,replace=True)
A24=pd.concat([data, a24])
A24

In [ ]:
a25=pd.DataFrame.sample(data,n=100,replace=True)
A25=pd.concat([data, a25])
A25

In [ ]:
a26=pd.DataFrame.sample(data,n=100,replace=True)
A26=pd.concat([data, a26])
A26

In [ ]:
a27=pd.DataFrame.sample(data,n=100,replace=True)
A27=pd.concat([data, a27])
A27

In [ ]:
a28=pd.DataFrame.sample(data,n=100,replace=True)
A28=pd.concat([data, a28])
A28

In [ ]:
a29=pd.DataFrame.sample(data,n=100,replace=True)
A29=pd.concat([data, a29])
A29

In [ ]:
a30=pd.DataFrame.sample(data,n=100,replace=True)
A30=pd.concat([data, a30])
A30

In [ ]:
a31=pd.DataFrame.sample(data,n=100,replace=True)
A31=pd.concat([data, a31])
A31

In [ ]:
a32=pd.DataFrame.sample(data,n=100,replace=True)
A32=pd.concat([data, a32])
A32

In [ ]:
a33=pd.DataFrame.sample(data,n=100,replace=True)
A33=pd.concat([data, a33])
A33

In [ ]:
a34=pd.DataFrame.sample(data,n=100,replace=True)
A34=pd.concat([data, a34])
A34

In [ ]:
a35=pd.DataFrame.sample(data,n=100,replace=True)
A35=pd.concat([data, a35])
A35

In [ ]:
a36=pd.DataFrame.sample(data,n=100,replace=True)
A36=pd.concat([data, a36])
A36

In [ ]:
a37=pd.DataFrame.sample(data,n=100,replace=True)
A37=pd.concat([data, a37])
A37

In [ ]:
a38=pd.DataFrame.sample(data,n=100,replace=True)
A38=pd.concat([data, a38])
A38

In [ ]:
a39=pd.DataFrame.sample(data,n=100,replace=True)
A39=pd.concat([data, a39])
A39

In [ ]:
a40=pd.DataFrame.sample(data,n=100,replace=True)
A40=pd.concat([data, a40])
A40

In [ ]:
a41=pd.DataFrame.sample(data,n=100,replace=True)
A41=pd.concat([data, a41])
A41

In [ ]:
a42=pd.DataFrame.sample(data,n=100,replace=True)
A42=pd.concat([data, a42])
A42

In [ ]:
a43=pd.DataFrame.sample(data,n=100,replace=True)
A43=pd.concat([data, a43])
A43

In [ ]:
a44=pd.DataFrame.sample(data,n=100,replace=True)
A44=pd.concat([data, a44])
A44

In [ ]:
a45=pd.DataFrame.sample(data,n=100,replace=True)
A45=pd.concat([data, a45])
A45

In [ ]:
a46=pd.DataFrame.sample(data,n=100,replace=True)
A46=pd.concat([data, a46])
A46

In [ ]:
a47=pd.DataFrame.sample(data,n=100,replace=True)
A47=pd.concat([data, a47])
A47

In [ ]:
a48=pd.DataFrame.sample(data,n=100,replace=True)
A48=pd.concat([data, a48])
A48

In [ ]:
a49=pd.DataFrame.sample(data,n=100,replace=True)
A49=pd.concat([data, a49])
A49

In [ ]:
a50=pd.DataFrame.sample(data,n=100,replace=True)
A50=pd.concat([data, a50])
A50

In [ ]:
a51=pd.DataFrame.sample(data,n=100,replace=True)
A51=pd.concat([data, a51])
A51

In [ ]:
a52=pd.DataFrame.sample(data,n=100,replace=True)
A52=pd.concat([data, a52])
A52

In [ ]:
a53=pd.DataFrame.sample(data,n=100,replace=True)
A53=pd.concat([data, a53])
A53

In [ ]:
a54=pd.DataFrame.sample(data,n=100,replace=True)
A54=pd.concat([data, a54])
A54

In [ ]:
a55=pd.DataFrame.sample(data,n=100,replace=True)
A55=pd.concat([data, a55])
A55

In [ ]:
a56=pd.DataFrame.sample(data,n=100,replace=True)
A56=pd.concat([data, a56])
A56

In [ ]:
a57=pd.DataFrame.sample(data,n=100,replace=True)
A57=pd.concat([data, a57])
A57

In [ ]:
a58=pd.DataFrame.sample(data,n=100,replace=True)
A58=pd.concat([data, a58])
A58

In [ ]:
a59=pd.DataFrame.sample(data,n=100,replace=True)
A59=pd.concat([data, a59])
A59

In [ ]:
a60=pd.DataFrame.sample(data,n=100,replace=True)
A60=pd.concat([data, a60])
A60

In [ ]:
a61=pd.DataFrame.sample(data,n=100,replace=True)
A61=pd.concat([data, a61])
A61

In [ ]:
a62=pd.DataFrame.sample(data,n=100,replace=True)
A62=pd.concat([data, a62])
A62

In [ ]:
a63=pd.DataFrame.sample(data,n=100,replace=True)
A63=pd.concat([data, a63])
A63

In [ ]:
a64=pd.DataFrame.sample(data,n=100,replace=True)
A64=pd.concat([data, a64])
A64

In [ ]:
a65=pd.DataFrame.sample(data,n=100,replace=True)
A65=pd.concat([data, a65])
A65

In [ ]:
a66=pd.DataFrame.sample(data,n=100,replace=True)
A66=pd.concat([data, a66])
A66

In [ ]:
a67=pd.DataFrame.sample(data,n=100,replace=True)
A67=pd.concat([data, a67])
A67

In [ ]:
a68=pd.DataFrame.sample(data,n=100,replace=True)
A68=pd.concat([data, a68])
A68

In [ ]:
a69=pd.DataFrame.sample(data,n=100,replace=True)
A69=pd.concat([data, a69])
A69

In [ ]:
a70=pd.DataFrame.sample(data,n=100,replace=True)
A70=pd.concat([data, a70])
A70

In [ ]:
a71=pd.DataFrame.sample(data,n=100,replace=True)
A71=pd.concat([data, a71])
A71

In [ ]:
a72=pd.DataFrame.sample(data,n=100,replace=True)
A72=pd.concat([data, a72])
A72

In [ ]:
a73=pd.DataFrame.sample(data,n=100,replace=True)
A73=pd.concat([data, a73])
A73

In [ ]:
a74=pd.DataFrame.sample(data,n=100,replace=True)
A74=pd.concat([data, a74])
A74

In [ ]:
a75=pd.DataFrame.sample(data,n=100,replace=True)
A75=pd.concat([data, a75])
A75

In [ ]:
a76=pd.DataFrame.sample(data,n=100,replace=True)
A76=pd.concat([data, a76])
A76

In [ ]:
a77=pd.DataFrame.sample(data,n=100,replace=True)
A77=pd.concat([data, a77])
A77

In [ ]:
a78=pd.DataFrame.sample(data,n=100,replace=True)
A78=pd.concat([data, a78])
A78

In [ ]:
a79=pd.DataFrame.sample(data,n=100,replace=True)
A79=pd.concat([data, a79])
A79

In [ ]:
a80=pd.DataFrame.sample(data,n=100,replace=True)
A80=pd.concat([data, a80])
A80

In [ ]:
a81=pd.DataFrame.sample(data,n=100,replace=True)
A81=pd.concat([data, a81])
A81

In [ ]:
a82=pd.DataFrame.sample(data,n=100,replace=True)
A82=pd.concat([data, a82])
A82

In [ ]:
a83=pd.DataFrame.sample(data,n=100,replace=True)
A83=pd.concat([data, a83])
A83

In [ ]:
a84=pd.DataFrame.sample(data,n=100,replace=True)
A84=pd.concat([data, a84])
A84

In [ ]:
a85=pd.DataFrame.sample(data,n=100,replace=True)
A85=pd.concat([data, a85])
A85

In [ ]:
a86=pd.DataFrame.sample(data,n=100,replace=True)
A86=pd.concat([data, a86])
A86

In [ ]:
a87=pd.DataFrame.sample(data,n=100,replace=True)
A87=pd.concat([data, a87])
A87

In [ ]:
a88=pd.DataFrame.sample(data,n=100,replace=True)
A88=pd.concat([data, a88])
A88

In [ ]:
a89=pd.DataFrame.sample(data,n=100,replace=True)
A89=pd.concat([data, a89])
A89

In [ ]:
a90=pd.DataFrame.sample(data,n=100,replace=True)
A90=pd.concat([data, a90])
A90

In [ ]:
a91=pd.DataFrame.sample(data,n=100,replace=True)
A91=pd.concat([data, a91])
A91

In [ ]:
a92=pd.DataFrame.sample(data,n=100,replace=True)
A92=pd.concat([data, a92])
A92

In [ ]:
a93=pd.DataFrame.sample(data,n=100,replace=True)
A93=pd.concat([data, a93])
A93

In [ ]:
a94=pd.DataFrame.sample(data,n=100,replace=True)
A94=pd.concat([data, a94])
A94

In [ ]:
a95=pd.DataFrame.sample(data,n=100,replace=True)
A95=pd.concat([data, a95])
A95

In [ ]:
a96=pd.DataFrame.sample(data,n=100,replace=True)
A96=pd.concat([data, a96])
A96

In [ ]:
a97=pd.DataFrame.sample(data,n=100,replace=True)
A97=pd.concat([data, a97])
A97

In [ ]:
a98=pd.DataFrame.sample(data,n=100,replace=True)
A98=pd.concat([data, a98])
A98

In [ ]:
a99=pd.DataFrame.sample(data,n=100,replace=True)
A99=pd.concat([data, a99])
A99

In [ ]:
a100=pd.DataFrame.sample(data,n=100,replace=True)
A100=pd.concat([data, a100])
A100

#treeregression

In [ ]:
X=data[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=data['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A1[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A1['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A2[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A2['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A3[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A3['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A4[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A4['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A5[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A5['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A6[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A6['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A7[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A7['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A8[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A8['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A9[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A9['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A10[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A10['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A11[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A11['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A12[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A12['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A13[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A13['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A14[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A14['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A15[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A15['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A16[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A16['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A17[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A17['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A18[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A18['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A19[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A19['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A20[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A20['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A21[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A21['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A22[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A22['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A23[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A23['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A24[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A24['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A25[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A25['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A26[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A26['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A27[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A27['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A28[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A28['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A29[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A29['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A30[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A30['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A31[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A31['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A32[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A32['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A33[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A33['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A34[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A34['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A35[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A35['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A36[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A36['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A5[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A5['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A6[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A6['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A7[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A7['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im

In [ ]:
X=A8[['Sex','Weight','Height','BMI','SMM','Fat Mass','% Body fat','abdominal circumference','waist to hip radio','Systolic','Diastolic','HeartRate'
              ,'visceral fat area','Cholesterol','Triglyceride','HDL-C','LDL','homocysteine','TP1','ALB1','TBIL','DBIL','Alkaline Phos','ALT','AST','GGT','Glucose','HbA1c'
              ,'AMY7','BUN','Creatinine','LD-P','Uric Acid','CK']]
y=A8['telomere length (kb)']
Tree = ExtraTreesRegressor()
Tree = Tree.fit(X,y)
Tree.feature_importances_
Tree_im=pd.DataFrame(Tree.feature_importances_,index=X.columns)
datat=Tree_im