<a href="https://colab.research.google.com/github/Sitthirat/data_viz_2022/blob/main/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Google Drive
https://drive.google.com/drive/folders/1bKjZJ_ZD6Om1YqmVkWSYLW3aQi6JvI9m?usp=sharing

#Import Data

In [ ]:
import pandas as pd 
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/Final'

#Data 1 ข้อมูลการตรวจโรค

In [ ]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv'))
data1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

#Data 2 ข้อมูลโรงพยาบาล

In [ ]:
data2 = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))
data2

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

#Data Preprocessing

##Data1

ตัดคอลัมน์ที่ไม่ต้องการออกไปใน Data1 (เลือกเฉพาะคอลัมน์ที่ต้องการ)

In [ ]:
import numpy as np

In [ ]:
data1_1 = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]   # ชี้ข้อมูลคอลัมน์ที่ต้องการ
data1_1

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

ตรวจสอบค่า missing

In [ ]:
data1_1.isnull().any() # ตรวจสอบหาค่า missing

user            True
RowKey          True
date            True
ov              True
phone           True
site            True
time            True
urine           True
PartitionKey    True
title           True
age             True
dtype: bool

In [ ]:
data1_2 = data1_1.dropna()  # dropna ลบค่า missing ออก
data1_2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,0,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,0,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,2,Samsung SM-G998B,test,14:23:45,ขุ่น,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,2,Samsung SM-G998B,test,14:23:43,ขุ่น,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,3,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,2,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,2,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,zzz,data is not completed,data is not completed

เช็คประเภทของข้อมูลแต่ละคอลัมน์

In [ ]:
data1_2.dtypes

user            object
RowKey          object
date            object
ov              object
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age             object
dtype: object

### user

คอลัมน์ user เลือกเฉพาะแถวที่เป็นตัวเลข 5 หลัก และแปลง object ให้เป็น integer

In [ ]:
set(data1_2['user'])

{'69566',
 '7140',
 '02547',
 '03649',
 '00298',
 '02217',
 '37645',
 '33316',
 '29796',
 '17191',
 '14380',
 '30431',
 'yyy',
 '98829',
 '49659',
 '74861',
 '64199',
 '44199',
 '00781',
 'ttest',
 '00305',
 '25176',
 '96292',
 '84409',
 '73946',
 '25128',
 '00170',
 '62517',
 '49103',
 '36994',
 '95193',
 '44509',
 '27503',
 '47429',
 '64503',
 '49880',
 '00202',
 '3451100241281',
 '77645',
 '62459',
 '73204',
 '61806',
 '73445',
 '79066',
 '22635',
 '92431',
 '14106',
 '52724',
 '11808',
 '61121',
 '04431',
 '37249',
 '74335',
 '05069',
 '44888',
 '14801',
 '00252',
 '16604',
 '00038',
 '49161',
 '54761',
 '31208',
 '26841',
 '20435',
 '88942',
 '00624',
 '67864',
 '00188',
 '65075',
 '11727',
 '05374',
 '86299',
 '30067',
 '48368',
 '31582',
 '00162',
 '84495',
 '58814',
 '39959',
 '38305',
 '66473',
 'test1',
 '00171',
 '00148',
 '86407',
 '89290',
 '34331',
 '25221',
 '48042',
 '46622',
 '80382',
 '02594',
 '25593',
 '46333',
 '67778',
 '86721',
 '63767',
 '11864',
 '80481',
 '87733',
 '99011',
 '00025',
 '80289',
 '30767',
 '09269',
 '00353',
 '00073',
 '00190',
 '39638',
 '00286',
 '70290',
 '06223',
 '09226',
 '98703',
 '00172',
 '1450700099250',
 '32591',
 '93020',
 '77782',
 '98245',
 '00027',
 '58271',
 '13312',
 '32949',
 '52912',
 '50577',
 '00352',
 '56044',
 '17938',
 '57954',
 '07556',
 '14667',
 '56821',
 '53356',
 '89493',
 '29271',
 '59269',
 '38518',
 '00342',
 '03421',
 '89329',
 '00074',
 '63753',
 '79620',
 '95301',
 '92073',
 '00017',
 '34501009308',
 '66437',
 '83662',
 '00183',
 '67241',
 '98126',
 '00319',
 '01408',
 '71805',
 '00194',
 '53481',
 '00004',
 '88135',
 '03500',
 '16174',
 '51241',
 '94295',
 '26776',
 '63951',
 '51310',
 '39965',
 '96670',
 '10518',
 '15734',
 '00164',
 '10375',
 '00143',
 '52209',
 '3451100451758',
 '23012',
 '27129',
 '86547',
 '43228',
 '91811',
 '28010',
 '00215',
 '38547',
 '6724-',
 '93189',
 '89475',
 '86050',
 '28291',
 '47615',
 '81197',
 '95927',
 '50624',
 '42120',
 '05211',
 '73496',
 '00351',
 '32796',
 '74345',
 '92415',
 '31811',
 '63799',
 '42098',
 '11569',
 '04483',
 '18385',
 '44805',
 '10046',
 '74432',
 '75519',
 '00118',
 '00756',
 '80463',
 '77862',
 '10691',
 '16970',
 '00207',
 '03087',
 '97308',
 '00157',
 '00124',
 '71503',
 '18181',
 '74493',
 '00131',
 '16193',
 '31229',
 '00076',
 '46627',
 '73000',
 '08011',
 '16971',
 '53616',
 '29051',
 '39764',
 '11742',
 '75838',
 '99250',
 '86601',
 '00409',
 '00394',
 '07644',
 '78901',
 '50580',
 '14767',
 '46285',
 '87797',
 '3450101323370',
 '79525',
 '63039',
 '80979',
 '14291',
 '96481',
 '55365',
 '97016',
 '02913',
 '00941',
 '74394',
 '16022',
 '70370',
 '18041',
 '25683',
 '27143',
 '28402',
 '00140',
 '17966',
 '80374',
 '00030',
 '04857',
 '87468',
 '51973',
 '00288',
 '97860',
 '47157',
 '05063',
 '67094',
 '29118',
 '16848',
 '39440',
 '15229',
 'iii',
 '29502',
 '66155',
 '00301',
 '04387',
 '26459',
 '29000',
 '00161',
 '27484',
 '00206',
 '28731',
 '19411',
 '16085',
 '01762',
 '46897',
 '96760',
 '38822',
 '05590',
 '24612',
 '45-161',
 '17982',
 '34317',
 '84055',
 '00125',
 '76096',
 '53089',
 '77726',
 '82277',
 '02897',
 '70948',
 '28917',
 '39524',
 '02862',
 '92948',
 '00012',
 '17277',
 '45825',
 '00284',
 '88973',
 '52180',
 '88023',
 '19250',
 '89470',
 '50047',
 '81409',
 '02693',
 '19559',
 '22244',
 '25331',
 '19527',
 '01008',
 '14255',
 '52481',
 '31143',
 '00129',
 '24229',
 '08773',
 '74414',
 '90070',
 '50373',
 '32082',
 '23214',
 '69428',
 '35605',
 '5600190011969',
 '00156',
 '11027',
 '59226',
 '47950',
 '11816',
 '12723',
 '71378\n71378',
 '05228',
 '10487',
 '49901',
 '92545',
 '75771',
 '34791',
 '37127',
 '00312',
 '91645',
 '14387',
 '49241',
 '60147',
 '67615',
 '17132',
 '76339',
 '33664',
 '13361',
 '81095',
 '86981',
 '88708',
 '00121',
 '00281',
 '34711',
 '51795',
 '65995',
 '20452',
 '66501',
 '12605',
 '94601',
 '65390',
 '62962',
 '31792',
 '00152',
 '84276',
 'ccc',
 '46902',
 '63477',
 '12786',
 '00168',
 '00307',
 '00290',
 '60909',
 '90571',
 '25071',
 '16630',
 '63880',
 '27046',
 '00014',
 '00269',
 '00117',
 '52665',
 '00154',
 '00217',
 '11111111',
 '60250',
 '81472',
 '83937',
 '22692',
 '90343',
 '46597',
 '11282',
 '97013',
 '05663',
 '18769',
 '23416',
 '84479',
 '29159',
 '06260',
 '00283',
 '96081',
 '82822',
 '26477',
 '86758',
 '3451100324624',
 '33739',
 '03617',
 '65733',
 '17415',
 '83377',
 '70610',
 '82211',
 '63429',
 '71152',
 '49215',
 '20690',
 '52066',
 '03736',
 '89081',
 '60887',
 '70492',
 '3451100141252',
 '54468',
 '48298',
 '84375',
 'aiov0001',
 '42380',
 '04325',
 '32831',
 '42465',
 '12022',
 '38500',
 '74378',
 '29760',
 '04405',
 '80880',
 '54544',
 '63018',
 '11159',
 '61320',
 '28743',
 '63323',
 '00046',
 '85493',
 '12003',
 '23010',
 '00169',
 '53151',
 '77706',
 '94494',
 '99884',
 '94881',
 '50837',
 '79028',
 '14037',
 '39448',
 '96061',
 '59128',
 '00035',
 '00187',
 '45787',
 '06268',
 '01850',
 '24622',
 '49367',
 '39079',
 '73636',
 '24559',
 '45783',
 '01594',
 '  noknoi2601@gmail.com\n',
 '04221',
 '33251',
 '60581',
 '00114',
 '80734',
 '27604',
 '51065',
 '39539',
 '19875',
 '37216',
 '63471',
 '51474',
 '98156',
 '30977',
 '76299',
 '54932',
 '16904',
 '70940',
 '3460500500020',
 '27678',
 '74103',
 '71112',
 '38771',
 '58870',
 '17916',
 '47623',
 '65254',
 '00328',
 '77670',
 '02102',
 '08998',
 '00226',
 '68037',
 '00160',
 '32581',
 '79322',
 '00278',
 '87697',
 '64081',
 '00317',
 '36692',
 '31322',
 '00036',
 '46951',
 '54734',
 '70671',
 '74369',
 '97461',
 '15980',
 '06655',
 '61044',
 '51501',
 '00145',
 '47061',
 '92962',
 '53011',
 '19237',
 '62241',
 '65656',
 'hu',
 '39342',
 '79817',
 '23630',
 '3400900747146',
 '00299',
 '50291',
 '54788',
 '02075',
 '66261',
 '06277',
 '98260',
 '02263',
 '46662',
 '55299',
 '34210',
 '30660',
 '52350',
 '37018',
 '15046',
 '11611',
 '99771',
 '02962',
 '31762',
 '46970',
 '32200',
 '33219',
 '03308',
 '78251',
 '71417',
 '00153',
 '49741',
 '89837',
 '97505',
 '00150',
 '37732',
 '48956',
 '3450101325097',
 '00167',
 '54100',
 '94150',
 '73557',
 '86774',
 '77384',
 '95668',
 '00235',
 '09820',
 '74289',
 '00565',
 '07427',
 '08021',
 '84493',
 '28627',
 '81293',
 '05038',
 '00033',
 '51039',
 '68317',
 '77567',
 '44845',
 '17842',
 '00048',
 '07573',
 '68006',
 '66082',
 '18513',
 '37691',
 '75910',
 '05091',
 '28381',
 '43834',
 '26531',
 '00032',
 '68768',
 '49387',
 '28977',
 '63381',
 '00041',
 '05304',
 '90516',
 '77576',
 '85094',
 '13073',
 '76819',
 '52921',
 '73772',
 '90770',
 '99835',
 '24563',
 '41000',
 '00163',
 '98530',
 '44812',
 '30481',
 '39726',
 '61419',
 '31879',
 '37151',
 '00211',
 '00021',
 '37140',
 '20454',
 '20304',
 '22804',
 '54614',
 '00050',
 '80336',
 '00313',
 '24258',
 '70409',
 '95104',
 '18331',
 '34096',
 '3451100451251',
 '90612',
 '26442',
 '18253',
 '39529',
 '83276',
 '00054',
 '83659',
 '22421',
 'ppp',
 '35512',
 '80253',
 '76642',
 '20951',
 '24491',
 '28186',
 '86474',
 '30016',
 '85379',
 '09259',
 '86483',
 '33553',
 '63865',
 '00128',
 '05082',
 '88351',
 '50900',
 '45641',
 '11361',
 '89576',
 '70810',
 '59305',
 '10460',
 '69681',
 '00039',
 '32171',
 '66771',
 '46732',
 '58993',
 '00146',
 '81724',
 '41951',
 '63312',
 '59181',
 '18318',
 '71228',
 '00404',
 '88337',
 '00324',
 '00216',
 '16162',
 '16144',
 '30059',
 '57398',
 '63564',
 '12015',
 '16284',
 '59326',
 '11891',
 'sss',
 '77665',
 '73158',
 '50349',
 '00120',
 '64211',
 '00007',
 '00139',
 '46291',
 '01883',
 '47938',
 '3450100805222',
 '05113',
 '00902',
 '88459',
 '92241',
 '81529',
 '39802',
 '00051',
 '76105',
 '01088',
 '83733',
 '98290',
 '93028',
 '64520',
 't006',
 '53188',
 '29417',
 '76475',
 '21955',
 '27096',
 '82582',
 '19903',
 '28062',
 '05047',
 '10653',
 '42370',
 '91917',
 '03523',
 '17777',
 '63091',
 '00308',
 '26199',
 '73381',
 '54281',
 '51903',
 '02604',
 '00212',
 '24375',
 '32914',
 '53333',
 '78231',
 '00266',
 '00315',
 '83943',
 '48768',
 '26082',
 '15678',
 '45846',
 '25478',
 '18527',
 '28348',
 '17055',
 '94454',
 'zzz',
 '19578',
 '43257',
 '00006',
 '42682',
 '43791',
 '90154',
 '22377',
 '49596',
 '15930',
 '66381',
 '3450101576642',
 '86545',
 '26511',
 '00023',
 '00011',
 '95291',
 '00272',
 '45884',
 '80847',
 '27802',
 '00113',
 '26773',
 '22545',
 '25781',
 '77358',
 '45485',
 '18025',
 '38381',
 '19180',
 '00966',
 '00079',
 '00273',
 '36481',
 '50284',
 '74964',
 '20827',
 '83900',
 '33103',
 '00028',
 '01428',
 '81065',
 '88538',
 '65664',
 '99288',
 '75841',
 '19265',
 '01651',
 '00123',
 '75835',
 '00209',
 '20061',
 '02889',
 '70187',
 '71970',
 '00201',
 '24468',
 '38463',
 '30511',
 '81570',
 '00295',
 '61591',
 '89195',
 '04402',
 '00134',
 '00214',
 '54214',
 '00049',
 '00142',
 '00176',
 '00059',
 '55239',
 '02647',
 '59266',
 '03263',
 '06436',
 '45161',
 '67961',
 '37186',
 '49961',
 '93527',
 '3451100150251',
 '00578',
 '63606',
 '19920',
 '24179',
 '92120',
 '84063',
 '02663',
 '00144',
 '36385',
 '86588',
 '27589',
 '40059',
 '31755',
 '79590',
 '01009',
 '9250',
 '00137',
 '55865',
 '16725',
 '32666',
 '07166',
 '23231',
 '54458',
 '33171',
 '77811',
 '54427',
 '31428',
 '00019',
 '04461',
 '00133',
 '70059',
 '02878',
 '02518',
 '28593',
 '00020',
 '00318',
 '37408',
 '41061',
 '14088',
 '00116',
 '70196',
 '22099',
 '64671',
 '47844',
 '59721',
 '09529',
 '80511',
 '26859',
 '29025',
 '94558',
 '54923',
 'eee',
 '04854',
 '34988',
 '84005',
 '00545',
 '74951',
 '80673',
 '67409',
 '55354',
 '21045',
 '54192',
 '92691',
 '82951',
 '14505',
 '48646',
 '25943',
 '28551',
 '03535',
 '49863',
 '50276',
 '78334',
 '25829',
 '76246',
 '70490',
 '78731',
 '69789',
 '31619',
 '94392',
 '36001',
 '71998',
 '49791',
 '3450100940367',
 '81537',
 '84494',
 '00293',
 '02396',
 '24994',
 '00343',
 '12561',
 '46643',
 '00115',
 '77572',
 '57099',
 '31062',
 '61746',
 '41182',
 '63284',
 '30121',
 '80175',
 '00008',
 'mmm',
 '73225',
 '80317',
 '77688',
 '06681',
 '14491',
 '27902',
 '00267',
 '53510',
 '97484',
 '02759',
 '19911',
 '70973',
 '05368',
 '78673',
 '94988',
 '05219',
 '90257',
 '23078',
 '40886',
 '87802',
 '91167',
 '47810',
 '96630',
 '66801',
 '30041',
 '00304',
 '30283',
 '00270',
 'fff',
 ...}

In [ ]:
cols = ['user'] #กำหนดคอลัมน์สำหรับเช็คตัวเลข

mask = data1_2[cols].apply(lambda x: pd.to_numeric(x, errors='coerce')).notnull().all(axis=1) #กรองเฉพาะแถวที่เป็นตัวเลข
data1_3 = data1_2[mask]

data1_3[cols] = data1_3[cols].astype(int) #แปลงจาก string เป็น integer
data1_3

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,0,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,0,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,1,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,2,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,2,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),983,data is not completed,data is not completed

In [ ]:
data1_4 = data1_3[(data1_3['user'] > 9999) & (data1_3['user']< 100000)] #เลือกมาเฉพาะแถวที่มีตัวเลข 5 หลัก
data1_4

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,0,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,0,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,1,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,2,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,2,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),983,data is not completed,data is not completed

In [ ]:
set(data1_4['user'])

{49161,
 65555,
 49178,
 32796,
 24612,
 41000,
 90154,
 16428,
 73772,
 24622,
 32816,
 57398,
 49215,
 32831,
 24641,
 41026,
 41042,
 49241,
 65632,
 41061,
 32873,
 49268,
 65656,
 32891,
 65664,
 82054,
 65675,
 65678,
 90257,
 32914,
 16529,
 73876,
 49308,
 98474,
 49322,
 32948,
 32949,
 98488,
 65733,
 98509,
 98519,
 49367,
 73946,
 16604,
 41182,
 98530,
 90343,
 32999,
 49387,
 65775,
 16630,
 98551,
 49413,
 24846,
 49424,
 16675,
 82211,
 33081,
 65854,
 33100,
 33103,
 74069,
 16725,
 41301,
 33121,
 82277,
 16754,
 74103,
 41340,
 16783,
 98703,
 33171,
 90516,
 24986,
 65953,
 24994,
 16820,
 49596,
 33219,
 90571,
 65995,
 16848,
 33237,
 49634,
 33251,
 90604,
 25071,
 90609,
 90612,
 25083,
 49659,
 16904,
 98829,
 66062,
 66082,
 33316,
 25128,
 74289,
 16970,
 16971,
 49741,
 25176,
 25179,
 98908,
 74335,
 57954,
 74345,
 66155,
 25199,
 49782,
 74367,
 49791,
 74369,
 25219,
 25221,
 74375,
 74378,
 66191,
 90770,
 82582,
 74394,
 66205,
 17055,
 74414,
 74432,
 90817,
 99011,
 49863,
 66261,
 49880,
 33503,
 17132,
 49901,
 25331,
 90872,
 82685,
 74493,
 90888,
 33553,
 74523,
 17184,
 17191,
 49961,
 25403,
 66381,
 66386,
 58196,
 50004,
 82777,
 33643,
 25466,
 17277,
 50047,
 33664,
 66437,
 25478,
 82822,
 50063,
 58271,
 66473,
 99245,
 99250,
 66501,
 33739,
 82894,
 41937,
 99288,
 41951,
 50144,
 91125,
 25593,
 74747,
 50172,
 33791,
 82951,
 17415,
 82954,
 74782,
 91167,
 99376,
 25659,
 42055,
 91209,
 33869,
 25683,
 74840,
 50276,
 50284,
 74861,
 42098,
 50291,
 25721,
 17536,
 58500,
 42120,
 74891,
 99475,
 66708,
 17560,
 17564,
 50332,
 50349,
 25781,
 42173,
 50373,
 74951,
 25804,
 66771,
 74964,
 66780,
 25829,
 25837,
 66801,
 42228,
 91402,
 50466,
 50471,
 58668,
 91438,
 34096,
 75061,
 83257,
 25923,
 83276,
 25943,
 58718,
 83303,
 17769,
 17777,
 75126,
 34169,
 17790,
 42370,
 42380,
 50577,
 50580,
 99734,
 34210,
 83377,
 17842,
 99771,
 26043,
 58814,
 50624,
 42453,
 58845,
 42465,
 26082,
 42468,
 75251,
 58870,
 83449,
 99835,
 17916,
 91645,
 34317,
 17938,
 34322,
 67093,
 67094,
 34331,
 34343,
 50727,
 99884,
 17966,
 17974,
 17982,
 50756,
 75347,
 26199,
 18008,
 18025,
 34409,
 58993,
 50802,
 18041,
 67212,
 50837,
 99991,
 99992,
 91811,
 67241,
 59051,
 42682,
 83659,
 83662,
 67280,
 50900,
 75487,
 50911,
 59128,
 75519,
 18181,
 50951,
 59144,
 83725,
 91917,
 83733,
 67352,
 34585,
 91947,
 59181,
 67379,
 75579,
 83771,
 10046,
 83777,
 26440,
 67400,
 26442,
 26445,
 18253,
 67409,
 59226,
 26459,
 26462,
 51039,
 26469,
 26477,
 51060,
 10105,
 51065,
 67450,
 59266,
 59269,
 10120,
 92042,
 18318,
 26511,
 34705,
 34711,
 18331,
 26531,
 59305,
 92073,
 26540,
 83900,
 59326,
 26574,
 18385,
 10194,
 92120,
 18393,
 83934,
 83937,
 18402,
 34791,
 51175,
 83943,
 26604,
 34801,
 75771,
 51205,
 34829,
 26647,
 10264,
 26651,
 67615,
 59423,
 84005,
 51241,
 75835,
 92220,
 43068,
 75838,
 75841,
 18513,
 92241,
 59476,
 84055,
 18524,
 18527,
 84063,
 51301,
 10348,
 51310,
 75910,
 10375,
 75911,
 43143,
 75921,
 26773,
 26776,
 26779,
 10405,
 34988,
 26811,
 67778,
 51403,
 26841,
 84187,
 43228,
 10460,
 84196,
 26859,
 76011,
 76014,
 10487,
 43257,
 92415,
 67850,
 92431,
 51474,
 10518,
 67864,
 26916,
 10534,
 51501,
 18733,
 18737,
 84276,
 76088,
 76096,
 35139,
 59721,
 76105,
 26957,
 18769,
 35178,
 26989,
 26990,
 51568,
 67961,
 92545,
 67972,
 84374,
 84375,
 10653,
 18849,
 92580,
 27046,
 43431,
 84392,
 68006,
 10673,
 18865,
 18873,
 84409,
 10691,
 68037,
 51653,
 10695,
 18890,
 18892,
 76246,
 27096,
 10724,
 92648,
 51689,
 84459,
 68081,
 27129,
 84479,
 27143,
 18954,
 76299,
 84493,
 84494,
 84495,
 68112,
 92691,
 76331,
 76339,
 19002,
 84540,
 68162,
 92747,
 51795,
 92756,
 76386,
 43657,
 10905,
 76459,
 51892,
 35512,
 19130,
 76475,
 51903,
 76486,
 68317,
 92893,
 10982,
 76523,
 19180,
 10992,
 10993,
 60147,
 11007,
 19201,
 19202,
 51973,
 19211,
 43791,
 11027,
 92948,
 35605,
 60181,
 84768,
 92962,
 19237,
 19241,
 52013,
 11055,
 19250,
 43834,
 19265,
 19273,
 60250,
 43868,
 93020,
 27484,
 76642,
 52066,
 93028,
 27503,
 19322,
 27529,
 11159,
 11165,
 52131,
 19364,
 52147,
 11198,
 27589,
 84935,
 11215,
 19411,
 27604,
 52180,
 52209,
 44018,
 52210,
 52219,
 52227,
 76803,
 93189,
 27658,
 11282,
 76819,
 27678,
 35888,
 76851,
 19527,
 27732,
 11361,
 85094,
 19559,
 35942,
 19575,
 19578,
 93307,
 11387,
 52350,
 68759,
 27802,
 68768,
 36001,
 60581,
 44199,
 19624,
 44201,
 19632,
 68805,
 19671,
 19675,
 68829,
 19699,
 68856,
 27902,
 52481,
 11522,
 60688,
 19737,
 52520,
 19756,
 36141,
 11569,
 19762,
 44364,
 93527,
 19800,
 11611,
 19808,
 28010,
 85379,
 19852,
 19855,
 28062,
 19875,
 69037,
 60847,
 85433,
 52665,
 19903,
 77249,
 85444,
 77254,
 19911,
 52678,
 60879,
 19920,
 11727,
 44502,
 60887,
 44509,
 11742,
 69091,
 93671,
 60909,
 52724,
 85493,
 85504,
 36358,
 36362,
 60953,
 28186,
 93726,
 11808,
 36385,
 36390,
 11816,
 77358,
 77384,
 28241,
 11864,
 20061,
 52830,
 11887,
 11891,
 61044,
 36481,
 28291,
 61087,
 52902,
 61095,
 28330,
 52912,
 52921,
 52922,
 93884,
 28348,
 61121,
 77509,
 85702,
 28381,
 12003,
 85737,
 12015,
 28399,
 36593,
 28402,
 12022,
 20215,
 12023,
 85753,
 61182,
 77567,
 77572,
 44805,
 77576,
 12041,
 44812,
 12044,
 77587,
 53011,
 61218,
 93991,
 44845,
 53041,
 69428,
 53045,
 69431,
 94019,
 20291,
 77645,
 20304,
 61265,
 36692,
 53076,
 44888,
 53089,
 77665,
 77670,
 44902,
 85879,
 77688,
 94087,
 61320,
 28551,
 77706,
 61325,
 61338,
 20380,
 77726,
 53151,
 20395,
 85934,
 77743,
 61359,
 28593,
 69556,
 94135,
 69566,
 53188,
 94150,
 69576,
 20435,
 28627,
 77782,
 20452,
 85989,
 20454,
 61419,
 77811,
 45047,
 86050,
 77862,
 61486,
 69681,
 28731,
 28743,
 94279,
 53330,
 53333,
 94295,
 12378,
 86113,
 45161,
 53356,
 61552,
 86133,
 12413,
 20606,
 36994,
 61587,
 61591,
 37018,
 77978,
 69789,
 61605,
 77994,
 94392,
 94406,
 94414,
 20690,
 28890,
 37091,
 78054,
 53481,
 28917,
 94454,
 86271,
 53510,
 37127,
 12561,
 37140,
 69911,
 86299,
 94494,
 37151,
 12576,
 28961,
 28977,
 61746,
 78133,
 12605,
 28992,
 37186,
 29000,
 94538,
 53579,
 20827,
 94558,
 37216,
 29025,
 37228,
 61806,
 37231,
 20847,
 53616,
 29051,
 37249,
 86407,
 94601,
 37259,
 78231,
 70054,
 29094,
 70059,
 78251,
 45485,
 78257,
 12723,
 29118,
 86474,
 86483,
 20951,
 45531,
 29159,
 12786,
 53751,
 45563,
 78334,
 86542,
 86545,
 21010,
 86547,
 45593,
 37408,
 94758,
 12839,
 70187,
 70196,
 21045,
 86588,
 86601,
 45641,
 29271,
 45668,
 62059,
 62061,
 45680,
 62070,
 29309,
 45701,
 70281,
 70290,
 78486,
 62105,
 78494,
 53920,
 45729,
 94881,
 12966,
 45736,
 37551,
 53943,
 45752,
 21177,
 86721,
 29379,
 29391,
 45783,
 45787,
 53980,
 70370,
 86758,
 37607,
 29417,
 86774,
 45825,
 29441,
 70409,
 94988,
 37645,
 13070,
 13073,
 45846,
 13088,
 62241,
 29476,
 29485,
 62261,
 70455,
 45881,
 37691,
 45884,
 29502,
 29514,
 78673,
 54100,
 45914,
 70490,
 70492,
 37728,
 37732,
 45924,
 62334,
 95104,
 21378,
 78731,
 95127,
 29611,
 54192,
 21432,
 95161,
 37826,
 86981,
 54214,
 62415,
 70610,
 95193,
 62440,
 62443,
 87029,
 62459,
 13312,
 54281,
 70671,
 37914,
 87067,
 37915,
 62491,
 13361,
 62517,
 78901,
 95291,
 29760,
 95301,
 13406,
 29796,
 78960,
 87181,
 62616,
 79001,
 70810,
 54427,
 87218,
 29875,
 79028,
 21688,
 54458,
 54468,
 46285,
 29907,
 46291,
 79066,
 62687,
 38121,
 46313,
 21751,
 46333,
 46341,
 54538,
 54544,
 87315,
 70940,
 70948,
 87337,
 70957,
 29999,
 62768,
 70973,
 30016,
 54599,
 30024,
 21831,
 87374,
 46415,
 54614,
 30041,
 87394,
 21860,
 30059,
 30067,
 95609,
 95631,
 46481,
 54679,
 38305,
 30121,
 87468,
 95668,
 46520,
 21955,
 71112,
 54734,
 79322,
 62941,
 46566,
 54761,
 38381,
 71152,
 87536,
 62962,
 87541,
 54781,
 13824,
 54788,
 46597,
 38422,
 46622,
 46627,
 63018,
 46643,
 71228,
 38463,
 63039,
 95810,
 46662,
 30283,
 95821,
 22099,
 63068,
 38500,
 22119,
 30311,
 63091,
 38518,
 38522,
 ...}

###RowKey

แปลงคอลัมน์ RowKey จาก object ให้เป็น String

In [ ]:
data1_4['RowKey'] = data1_4['RowKey'].astype('string')
data1_4['RowKey']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

188      ADC54E82-4225-4DE6-89A6-A7E556C15FB1
191      00859DB9-1BD9-4825-B246-3DC25EFD1924
192      1376ACA2-AFA5-4457-967A-D2FCF908E6A5
193      1914EE67-CD8F-47EE-A968-2772911AA5DF
194      1A219EE7-3647-4D7D-A8C0-AE638E69D889
                         ...
39722                          bbrbiwclgv.png
39782                          lzzsckyyqs.png
39791                          pvpiawlexb.png
39794                          rtutxrlbam.png
39795                          dmuragqwza.png
Name: RowKey, Length: 32431, dtype: string

###date

แปลงคอลัมน์ date จาก object ให้เป็น datetime

In [ ]:
data1_4['date'] = pd.to_datetime(data1_4['date'])
data1_4['date']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

188     2022-02-25
191     2022-03-30
192     2022-03-30
193     2022-03-30
194     2022-03-29
           ...
39722   2022-02-23
39782   2022-02-23
39791   2022-02-23
39794   2022-02-23
39795   2022-02-23
Name: date, Length: 32431, dtype: datetime64[ns]

###ov

คอลัมน์ ov แปลง object ให้เป็น integer มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [ ]:
set(data1_4['ov'])

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

In [ ]:
data1_5 = data1_4[data1_4['ov'] != 'ติดเชื้อ +2 '] #ตัดแถวที่ไม่ต้องการออกไป
data1_5

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,0,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,0,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,1,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,2,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,2,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),983,data is not completed,data is not completed

In [ ]:
set(data1_5['ov'])

{'0', '1', '2', '3', '4'}

In [ ]:
data1_5['ov'] = data1_5['ov'].astype(int)
data1_5['ov']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

188      0
191      4
192      4
193      3
194      3
        ..
39722    0
39782    0
39791    1
39794    2
39795    2
Name: ov, Length: 32430, dtype: int64

###phone

แปลงคอลัมน์ phone จาก object ให้เป็น String

In [ ]:
data1_5['phone'] = data1_5['phone'].astype('string')
data1_5['phone']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

188            iPhone13,1
191            iPhone12,3
192            iPhone14,3
193            iPhone13,4
194             iPhone9,4
               ...
39722    Samsung SM-G965U
39782    Samsung SM-G965U
39791    Samsung SM-G965U
39794    Samsung SM-A115F
39795    Samsung SM-A115F
Name: phone, Length: 32430, dtype: string

###site

คอลัมน์ site เลือกเฉพาะแถวที่เป็นตัวเลข 5 หลัก และแปลง object ให้เป็น integer

In [ ]:
set(data1_5['site'])

{'00040',
 '00513',
 '00579',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04380',
 '04384',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04403',
 '04405',
 '04406',
 '04407',
 '04433',
 '04434',
 '04435',
 '04436',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05021',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05077',
 '05080',
 '05081',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05152',
 '05154',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05192',
 '05193',
 '05194',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05246',
 '05247',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05345',
 '05346',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06261',
 '06265',
 '06267',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06285',
 '06288',
 '06289',
 '06290',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13953',
 '13954',
 '13962',
 '13963',
 '13984',
 '14005',
 '14007',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

In [ ]:
data1_5['site'] = data1_5['site'].astype(int)
data1_5['site']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

188       4999
191       6307
192       5328
193       6302
194       5059
         ...
39722     5258
39782     5258
39791     5258
39794    28017
39795    28017
Name: site, Length: 32430, dtype: int64

###time

แปลงคอลัมน์ time จาก object ให้เป็น time

In [ ]:
#data1_5['time'] = pd.to_datetime(data1_5['time'])
#data1_5['time']

###urine

แปลงคอลัมน์ urine จาก object ให้เป็น String

In [ ]:
data1_5['urine'] = data1_5['urine'].astype('string')
data1_5['urine']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

188      ปกติ (เหลืองใส)
191      ปกติ (เหลืองใส)
192      ปกติ (เหลืองใส)
193      ปกติ (เหลืองใส)
194      ปกติ (เหลืองใส)
              ...
39722    ปกติ (เหลืองใส)
39782    ปกติ (เหลืองใส)
39791    ปกติ (เหลืองใส)
39794    ปกติ (เหลืองใส)
39795    ปกติ (เหลืองใส)
Name: urine, Length: 32430, dtype: string

In [ ]:
set(data1_5['urine'])

{'ขุ่น',
 'ขุ่น, มีตะกอน',
 'ขุ่น, มีตะกอน, มีเม็ดเลือดแดง',
 'ขุ่น, มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, มีเม็ดเลือดแดง',
 'ขุ่น, สีน้ำนม',
 'ขุ่น, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส)',
 'ปกติ (เหลืองใส), ขุ่น',
 'ปกติ (เหลืองใส), ขุ่น, มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), มีเม็ดเลือดแดง',
 'ปกติ (เหลืองใส), สีน้ำนม',
 'ปกติ (เหลืองใส), สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า, สีน้ำนม',
 'มีตะกอน',
 'มีตะกอน, มีเม็ดเลือดแดง',
 'มีตะกอน, มีเม็ดเลือดแดง, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, ใส่เป็นน้ำเปล่า',
 'มีเม็ดเลือดแดง',
 'มีเลือดปน',
 'มีเลือดปน, สีเหลืองส้ม (ผิดปกติ)',
 'สีน้ำนม',
 'สีฟ้า หรือน้ำเงิน',
 'สีเหลืองส้ม (ผิดปกติ)',
 'ใสเป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า, สีฟ้า หรือน้ำเงิน'}

###PartitionKey

คอลัมน์ PartitionKey เลือกเฉพาะแถวที่เป็นตัวเลข 5 หลัก และแปลง object ให้เป็น integer

In [ ]:
set(data1_5['PartitionKey'])

{'02011',
 '00810',
 '00871',
 '05308',
 '01654',
 '00866',
 '02547',
 '01150',
 '00298',
 '03322',
 '01007',
 '02125',
 '08596',
 '03300',
 '05716',
 '00451',
 '02202',
 '01786',
 '00832',
 '10974',
 '00773',
 '01972',
 '01235',
 '00192',
 '01292',
 '03207',
 '00788',
 '00781',
 '00753',
 '04191',
 '00305',
 '03132',
 '10965',
 '00665',
 '01110',
 '01204',
 '02883',
 '00744',
 '00174',
 '00836',
 '00946',
 '02727',
 '02864',
 '00436',
 '02702',
 '00776',
 '00668',
 '01735',
 '10968',
 '00170',
 '01076',
 '02580',
 '03312',
 '02513',
 '240',
 '01640',
 '00092',
 '03365',
 '00234',
 '01320',
 '04036',
 '02429',
 '00761',
 '02833',
 '01595',
 '03441',
 '02173',
 '02973',
 '02406',
 '02682',
 '01644',
 '03236',
 '00595',
 '06024',
 '02896',
 '01224',
 '00350',
 '00202',
 '01720',
 '02791',
 '00783',
 '01880',
 '01923',
 '02496',
 '03936',
 '00671',
 '10987',
 '02936',
 '02988',
 '03510',
 '03826',
 '00329',
 '01423',
 '00598',
 '00630',
 '02032',
 '10997',
 '01366',
 '00346',
 '01928',
 '00252',
 '01162',
 '00038',
 '01151',
 '02514',
 '02854',
 '00925',
 '00378',
 '00922',
 '03325',
 '200',
 '00704',
 '04046',
 '04649',
 '01418',
 '02803',
 '00994',
 '03057',
 '05988',
 '01820',
 '00624',
 '00632',
 '01776',
 '03096',
 '00574',
 '02376',
 '00188',
 '02467',
 '01152',
 '02251',
 '01827',
 '02045',
 '01246',
 '02719',
 '00649',
 '00162',
 '01168',
 '08964',
 '00424',
 '02208',
 '01465',
 '04022',
 '02434',
 '08927',
 '01238',
 '00527',
 '02648',
 '01700',
 '00171',
 '00148',
 '00619',
 '08067',
 '03237',
 '08965',
 '02775',
 '01570',
 '04024',
 '04117',
 '02006',
 '05983',
 '01907',
 '00594',
 '02594',
 '03068',
 '02010',
 '01094',
 '01527',
 '02188',
 '00800',
 '01532',
 '01569',
 '05289',
 '02036',
 '01769',
 '00700',
 '01172',
 '01284',
 '00502',
 '00822',
 '04657',
 '02334',
 '06027',
 '01947',
 '01593',
 '00355',
 '02903',
 '02468',
 '01419',
 '00820',
 '01739',
 '00025',
 '02995',
 '02420',
 '01404',
 '00393',
 '00711',
 '00353',
 '03104',
 '00073',
 '00190',
 '00286',
 '00414',
 '02163',
 '01072',
 '01042',
 '00454',
 '02544',
 '01193',
 '05998',
 '01315',
 '02601',
 '00511',
 '00172',
 '00377',
 '06005',
 '02555',
 '00063',
 '00027',
 '00823',
 '01298',
 '00533',
 '01242',
 '00374',
 '08962',
 '00881',
 '02238',
 '00352',
 '02631',
 '00457',
 '02486',
 '01025',
 '01575',
 '0005',
 '01630',
 '01512',
 '00388',
 '01979',
 '04697',
 '01336',
 '02199',
 '02726',
 '02859',
 '02178',
 '09009',
 '02993',
 '03221',
 '01592',
 '219',
 '00945',
 '01058',
 '01260',
 '00110',
 '02356',
 '01389',
 '01981',
 '01717',
 '00342',
 '00952',
 '00074',
 '01271',
 '01390',
 '00968',
 '06028',
 '01728',
 '00229',
 '01422',
 '01758',
 '00967',
 '00017',
 '00248',
 '01858',
 '02338',
 '10986',
 '00183',
 '05118',
 '01059',
 '00319',
 '02926',
 '02336',
 '11003',
 '00546',
 '03287',
 '02269',
 '01978',
 '00972',
 '00888',
 '00869',
 '00824',
 '02046',
 '02236',
 '01765',
 '00194',
 '03245',
 '01484',
 '08950',
 '1450900136124',
 '00004',
 '02739',
 '08944',
 '00588',
 '03549',
 '02320',
 '01799',
 '02354',
 '08928',
 '02071',
 '02076',
 '01653',
 '03004',
 '03034',
 '03411',
 '04651',
 '1881',
 '00386',
 '01516',
 '02240',
 '02509',
 '00670',
 '02686',
 '01629',
 '00525',
 '02181',
 '06014',
 '04016',
 '02685',
 '02598',
 '02142',
 '03593',
 '04171',
 '00164',
 '01859',
 '00238',
 '00143',
 '00608',
 '01618',
 '00561',
 '02999',
 '01416',
 '08990',
 '01779',
 '00215',
 '00368',
 '00539',
 '00811',
 '01737',
 '03158',
 '03311',
 '00610',
 '00839',
 '00909',
 '01480',
 '00244',
 '01845',
 '03405',
 '04626',
 '06013',
 '08922',
 '06004',
 '241',
 '01748',
 '10973',
 '00675',
 '02062',
 '02692',
 '00101',
 '00690',
 '03003',
 '00515',
 '00351',
 '02979',
 '00716',
 '04013',
 '02375',
 '00697',
 '03417',
 '01243',
 '02403',
 '00932',
 '04663',
 '02610',
 '02662',
 '03310',
 '01394',
 '01222',
 '02710',
 '02875',
 '01108',
 '03015',
 '03252',
 '06003',
 '02497',
 '02223',
 '04684',
 '00648',
 '05959',
 '00897',
 '02043',
 '02446',
 '02836',
 '01852',
 '02589',
 '02435',
 '08966',
 '03399',
 '00118',
 '02327',
 '05098',
 '02900',
 '00756',
 '00647',
 '01828',
 '00762',
 '00725',
 '01329',
 '03178',
 '02470',
 '00691',
 '06033',
 '00207',
 '00157',
 '00124',
 '02068',
 '01369',
 '02330',
 '00480',
 '02484',
 '00131',
 '02861',
 '04028',
 '00076',
 '02074',
 '02456',
 '03220',
 '01922',
 '03997',
 '218',
 '00626',
 '02654',
 '00337',
 '00620',
 '00111',
 '06725',
 '06040',
 '02765',
 '01881',
 '03552',
 '00409',
 '00394',
 '00445',
 '00543',
 '00799',
 '01673',
 '03505',
 '00767',
 '00220',
 '00057',
 '03141',
 '00344',
 '06000',
 '06729',
 '04101',
 '01804',
 '02469',
 '02055',
 '01665',
 '04669',
 '08931',
 '02690',
 '08933',
 '08996',
 '01967',
 '03181',
 '00338',
 '10998',
 '00941',
 '01330',
 '02498',
 '01225',
 '01657',
 '02160',
 '00363',
 '00459',
 '03825',
 '00140',
 '00030',
 '01641',
 '05302',
 '00288',
 '01788',
 '01822',
 '02510',
 '03030',
 '00437',
 '05120',
 '01082',
 '00564',
 '03612',
 '00456',
 '00732',
 '00934',
 '00301',
 '01234',
 '06009',
 '00562',
 '05976',
 '02301',
 '01864',
 '10966',
 '02826',
 '01062',
 '00443',
 '00161',
 '01439',
 '01476',
 '01156',
 '00476',
 '02341',
 '00206',
 '00555',
 '00551',
 '00814',
 '02093',
 '02881',
 '01209',
 '04690',
 '06185',
 '01040',
 '00882',
 '02312',
 '02874',
 '01607',
 '01307',
 '01762',
 '00673',
 '01958',
 '01441',
 '00537',
 '01633',
 '05247',
 '01017',
 '02424',
 '00504',
 '00791',
 '00505',
 '01037',
 '16',
 '02630',
 '02832',
 '03422',
 '00680',
 '00864',
 '02224',
 '02272',
 '00494',
 '02761',
 '05155',
 '02748',
 '01518',
 '02177',
 '08913',
 '00125',
 '08916',
 '02451',
 '01690',
 '01429',
 '00602',
 '02360',
 '02409',
 '04661',
 '04192',
 '01469',
 '00416',
 '06015',
 '00850',
 '00573',
 '01514',
 '0014',
 '03436',
 '00349',
 '03272',
 '01136',
 '10983',
 '00779',
 '02862',
 '00012',
 '00284',
 '06037',
 '0030',
 '01989',
 '00971',
 '01288',
 '107',
 '02042',
 '05121',
 '01833',
 '00807',
 '01541',
 '05110',
 '01953',
 '01008',
 '02754',
 '01899',
 '01167',
 '01277',
 '01571',
 '00129',
 '02231',
 '08909',
 '01965',
 '00793',
 '02683',
 '01547',
 '00499',
 '05123',
 '00156',
 '01435',
 '01148',
 '01346',
 '01615',
 '00976',
 '00988',
 '02035',
 '08956',
 '09040',
 '02466',
 '05313',
 '00580',
 '02170',
 '05228',
 '11000',
 '00503',
 '08937',
 '01078',
 '00442',
 '06055',
 '00312',
 '00444',
 '02714',
 '01054',
 '02884',
 '04163',
 '01086',
 '01980',
 '02709',
 '02907',
 '03006',
 '03548',
 '05132',
 '01452',
 '00058',
 '00905',
 '00230',
 '00485',
 '01725',
 '06042',
 '01268',
 '01649',
 '02003',
 '01406',
 '02207',
 '01818',
 '00070',
 '02770',
 '00121',
 '00281',
 '01069',
 '01044',
 '00479',
 '00868',
 '09037',
 '02265',
 '01869',
 '03509',
 '02877',
 '04696',
 '08914',
 '00528',
 '00490',
 '00978',
 '00246',
 '01095',
 '00517',
 '01244',
 '04662',
 '00219',
 '00062',
 '01746',
 '02095',
 '02273',
 '02537',
 '10981',
 '00152',
 '00387',
 '03150',
 '01127',
 '01840',
 '02494',
 '01995',
 '03266',
 '08910',
 '01492',
 '04019',
 '00466',
 '00332',
 '02395',
 '00840',
 '01164',
 '00168',
 '00307',
 '01896',
 '00290',
 '03107',
 '01812',
 '05223',
 '09027',
 '02098',
 '08923',
 '09044',
 '00256',
 '00778',
 '00851',
 '01413',
 '01755',
 '01650',
 '03347',
 '01057',
 '01801',
 '00014',
 '00269',
 '01472',
 '01486',
 '00117',
 '00154',
 '01732',
 '06047',
 '00217',
 '00782',
 '02945',
 '05280',
 '01531',
 '02814',
 '01525',
 '00794',
 '02404',
 '02024',
 '177',
 '00262',
 '01693',
 '02096',
 '00478',
 '00361',
 '02349',
 '01948',
 '01214',
 '01842',
 '02402',
 '00956',
 '02732',
 '00243',
 '01643',
 '01191',
 '02773',
 '01767',
 '03983',
 '02532',
 '01081',
 '00283',
 '01558',
 '08941',
 '03155',
 '06026',
 '08936',
 '01576',
 '04084',
 '00854',
 '01924',
 '00385',
 '02348',
 '03233',
 '00912',
 '02195',
 '03061',
 '01113',
 '00081',
 '06062',
 '01165',
 '02004',
 '00091',
 '02005',
 '05101',
 '01962',
 '04666',
 '00960',
 '05341',
 '03715',
 '01945',
 '01550',
 '01134',
 '02196',
 '01251',
 '01646',
 '08919',
 '00664',
 '04642',
 '01548',
 '01752',
 '00742',
 '01361',
 '01121',
 '01405',
 '01348',
 '00622',
 '00046',
 '125',
 '03327',
 '03194',
 '00522',
 '01631',
 '01050',
 '03144',
 '01750',
 '01402',
 '06045',
 '00169',
 '00656',
 '00705',
 '01764',
 '03152',
 '01819',
 '02771',
 '00752',
 '02843',
 '04011',
 '01496',
 '04100',
 '32',
 '00391',
 '01153',
 '04645',
 '000167',
 '01380',
 '03049',
 '00860',
 '03137',
 '01293',
 '01795',
 '00035',
 '00187',
 '01504',
 '01772',
 '01239',
 '01256',
 '00358',
 '01632',
 '00375',
 '03106',
 '02408',
 '01488',
 '02500',
 '00979',
 '04630',
 '00821',
 '00657',
 '01850',
 '06016',
 '08947',
 '03963',
 '02534',
 '04072',
 '01594',
 '02790',
 '01112',
 '04644',
 '05106',
 '02863',
 '05975',
 '03240',
 '00900',
 '01617',
 '00114',
 '00740',
 '02204',
 '000164',
 '02585',
 '09033',
 '02540',
 '01830',
 '02730',
 '01036',
 '08959',
 '01511',
 '03290',
 '05147',
 '05997',
 '00827',
 '01178',
 '00182',
 '02653',
 '04187',
 '00903',
 '01669',
 '04106',
 '01856',
 '01996',
 '02122',
 '1022',
 '00623',
 '02384',
 '02106',
 '01966',
 '00472',
 '00611',
 '01870',
 '09005',
 '01186',
 '03199',
 '00892',
 '01407',
 '00606',
 '00961',
 '00637',
 '00737',
 '01911',
 '00328',
 '02489',
 '01395',
 '01949',
 '01678',
 '01963',
 '00226',
 '01420',
 '08942',
 '08998',
 '00160',
 '01463',
 '01900',
 '05094',
 '01933',
 '00278',
 '05104',
 '03123',
 '03408',
 '00641',
 '00317',
 '01668',
 '02218',
 '00036',
 '03183',
 '04001',
 '01138',
 '02919',
 '04015',
 '196',
 '01047',
 '00402',
 '00919',
 '00684',
 '116',
 '00918',
 '01021',
 '01255',
 '08974',
 '05984',
 '02908',
 '02976',
 '03488',
 '00145',
 '01027',
 '05965',
 '08989',
 '112',
 '01839',
 '04670',
 '09026',
 '00362',
 '00896',
 '02643',
 '00360',
 '03055',
 '00570',
 '01713',
 '03438',
 '10999',
 '02584',
 '06046',
 '00299',
 '03339',
 '02075',
 '05718',
 '01906',
 '00986',
 '00991',
 '01800',
 '02523',
 '02986',
 '04165',
 '08921',
 '00792',
 '03124',
 '01240',
 ...}

In [ ]:
#ตัดแถวที่ไม่ต้องการออกไป
data1_6 = data1_5[(data1_5['PartitionKey'] != '00083\u200b') & (data1_5['PartitionKey'] != '00\u200b175')]
data1_6

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,0,Samsung SM-G965U,5258,14:05:25,ปกติ (เหลืองใส),61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,0,Samsung SM-G965U,5258,14:42:45,ปกติ (เหลืองใส),89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,1,Samsung SM-G965U,5258,15:32:53,ปกติ (เหลืองใส),92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,2,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,2,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),983,data is not completed,data is not completed

In [ ]:
data1_6['PartitionKey'] = data1_6['PartitionKey'].astype(int)
data1_6['PartitionKey']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

188        0
191        1
192        1
193        1
194        1
        ...
39722     61
39782     89
39791     92
39794    976
39795    983
Name: PartitionKey, Length: 32428, dtype: int64

In [ ]:
data1_6.dtypes

user                     int64
RowKey                  string
date            datetime64[ns]
ov                       int64
phone                   string
site                     int64
time                    object
urine                   string
PartitionKey             int64
title                   object
age                     object
dtype: object

###title

แปลงคอลัมน์ title จาก object ให้เป็น string

In [ ]:
set(data1_6['title'])

{'  นาง',
 ' นาง',
 ' นาย',
 'Mrs',
 'data is not completed',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.อ.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [ ]:
#เปลี่ยนข้อมูล 'title' ให้อยู่ในรูปแบบเดียวกัน
data1_6['title'].replace({'  นาง':'นาง',
' นาง':'นาง',
' นาย':'นาย',
'Mrs':'นาง',
 'ด.ช.':'เด็กชาย',
 'ด.ญ.':'เด็กหญิง',
 'น.ส':'นางสาว',
 'น.ส ':'นางสาว',
 'น.ส.':'นางสาว',
 'นส':'นางสาว',
 'นส.':'นางสาว',
 'นส. ':'นางสาว',
 'นาง ':'นาง',
 'นาง.':'นาง',
 'นางl':'นาง',
 'นางสาว ':'นางสาว',
 'นางสาว                   ':'นางสาว',
 'นาน':'นาย',
 'นาบ':'นาย',
 'นาย ':'นาย',
 'นาย  ':'นาย',
 'นาว':'นาง',
 'นาวสาว':'นางสาว',
 'นา่ง':'นาง',
 'น่าย':'นาย',
 'พจอ.':'นาย',
 'พระ':'นาย',
 'พระครุ':'นาย',
 'พลฯ':'นาย',
 'ร.ต.':'นาย',
 'ร.ต.ต.':'นาย',
 'ร.ต.อ.':'นาย',
 'ว่าที่ ร.ต.':'นาย',
 'ว่าที่ ร.ท.':'นาย',
 'ว่าที่ร้อยตรี':'นาย',
 'ืนาง':'นาง',
 'ด.ต.':'นาย'
}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
set(data1_6['title'])

{'data is not completed', 'น', 'นาง', 'นางสาว', 'นาย', 'เด็กชาย', 'เด็กหญิง'}

In [ ]:
#ตัดแถวที่ไม่ต้องการออกไป
data1_7 = data1_6[(data1_6['title'] != 'data is not completed') & (data1_6['title'] != 'น')]
data1_7

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14:57:41,ปกติ (เหลืองใส),1,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

In [ ]:
set(data1_7['title'])

{'นาง', 'นางสาว', 'นาย', 'เด็กชาย', 'เด็กหญิง'}

In [ ]:
data1_7['title'] = data1_7['title'].astype('string')
data1_7['title']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

191      นางสาว
192         นาง
193         นาง
194         นาย
195      นางสาว
          ...
39416    นางสาว
39417       นาย
39418       นาง
39419       นาง
39420       นาย
Name: title, Length: 32359, dtype: string

###age

แปลงคอลัมน์ age จาก object ให้เป็น integer

In [ ]:
set(data1_7['age'])

{'-233',
 '-29',
 '-32',
 '-37',
 '-5441',
 '-5789',
 '0',
 '10',
 '1052',
 '11',
 '12',
 '13',
 '138',
 '14',
 '15',
 '151',
 '16',
 '17',
 '18',
 '19',
 '20',
 '2030',
 '2046',
 '2051',
 '2057',
 '2063',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '312',
 '315',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '507',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '590',
 '591',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '97'}

In [ ]:
data1_7['age'] = data1_7['age'].astype(int)
data1_7['age']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

191      47
192      41
193      55
194      66
195      50
         ..
39416    33
39417    28
39418    72
39419    48
39420    36
Name: age, Length: 32359, dtype: int64

In [ ]:
data1_8 = data1_7[(data1_7['age'] >=1) & (data1_7['age'] <=100)]
data1_8

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14:57:41,ปกติ (เหลืองใส),1,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

In [ ]:
set(data1_8['age'])

{10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97}

In [ ]:
data1_8.dtypes

user                     int64
RowKey                  string
date            datetime64[ns]
ov                       int64
phone                   string
site                     int64
time                    object
urine                   string
PartitionKey             int64
title                   string
age                      int64
dtype: object

In [ ]:
DATA1 = data1_8.reset_index(drop=True)
DATA1

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,47
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นาง,41
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นาง,55
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,66
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14:57:41,ปกติ (เหลืองใส),1,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
32323,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,33
32324,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
32325,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
32326,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
32327,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

##Data2

In [ ]:
data2.isnull().any() # ตรวจสอบหาค่า missing

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [ ]:
data2_1 = data2.dropna()  # dropna ลบค่า missing ออก
data2_1

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
data2_1.isnull().any()

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

In [ ]:
data2_1.dtypes

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

###แปลง type แต่ละคอลัมน์ให้เหมาะสมกับข้อมูล

In [ ]:
#data2_2 = data2_1.astype({
#     'hcode':int,
#     'name':'string', 
#     'zone_name':'string',
#     'province':'string',
#     'amphur':'string',
#     'tambon':'string',
#     'name5':'string',
#     'name10':'string',
#     'short_thai':'string',
#     'short_english':'string'
# }).dtypes

In [ ]:
data2_1['hcode'] = data2_1['hcode'].astype(int)
data2_1['name'] = data2_1['name'].astype('string')
data2_1['zone_name'] = data2_1['zone_name'].astype('string')
data2_1['province'] = data2_1['province'].astype('string')
data2_1['amphur'] = data2_1['amphur'].astype('string')
data2_1['tambon'] = data2_1['tambon'].astype('string')
data2_1['name5'] = data2_1['name5'].astype('string')
data2_1['name10'] = data2_1['name10'].astype('string')
data2_1['short_thai'] = data2_1['short_thai'].astype('string')
data2_1['short_english'] = data2_1['short_english'].astype('string')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
data2_1.dtypes

hcode              int64
name              string
zone_code          int64
zone_name         string
provincecode     float64
province          string
amphurcode       float64
amphur            string
tamboncode       float64
tambon            string
code4            float64
name5             string
code9            float64
name10            string
short_thai        string
short_english     string
dtype: object

In [ ]:
DATA2 = data2_1.reset_index(drop=True)
DATA2

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
1,934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
2,935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
3,936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
4,937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11793,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
11794,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
11795,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
11796,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
11797,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

#รวม DATA1 และ DATA2

In [ ]:
datamerged = DATA1.merge(DATA2,how='left',left_on='site',right_on='hcode')
datamerged 
#เชื่อมตาราง DATA1 และ DATA2 โดยใช้ site และ hcode เป็นตัวเชื่อม

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นาง,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นาง,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14:57:41,ปกติ (เหลืองใส),1,นางสาว,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32323,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
32324,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
32325,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
32326,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
32327,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
datamerged.isnull().any()

user             False
RowKey           False
date             False
ov               False
phone            False
site             False
time             False
urine            False
PartitionKey     False
title            False
age              False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [ ]:
datamerged1 = datamerged.dropna()  # dropna ลบค่า missing ออก
datamerged1

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นาง,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นาง,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14:57:41,ปกติ (เหลืองใส),1,นางสาว,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32323,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
32324,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
32325,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
32326,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
32327,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
DATA = datamerged1.reset_index(drop=True)
DATA

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นาง,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นาง,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14:57:41,ปกติ (เหลืองใส),1,นางสาว,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31924,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
31925,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
31926,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
31927,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
31928,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

#Save table

In [ ]:
DATA.to_csv(os.path.join(path,'DATA.csv'))